<ol class="inventory-list">
  {{#each sections as |section sid|}}
  <li class="inventory-header flexrow">
    <h3 class="item-name flexrow">{{localize section.label}}</h3>

    {{#if section.hasActions}}
    <div class="item-detail item-charges">{{localize "DND.Uses"}}</div>
    <div class="item-detail item-action">{{localize "DND.Usage"}}</div>
    {{/if}}

    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize 'DND.Add'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
        <i class="fas fa-plus"></i> <!-- Add -->
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
      <div class="item-name flexrow rollable">
        <div class="item-image" style="background-image: url({{item.img}})">
          <i class="fa fa-dice-d20"></i>
        </div>
        <h4 title="{{localize "TIDY5E.ToggleInfo"}} ({{item.name}})">
          <!-- <i class="fas fa-info-circle info-icon"></i> -->
          {{item.name}}
        </h4>
      </div>

      {{#if section.hasActions}}
      <div class="item-detail item-charges">
        {{#if item.isOnCooldown}}
        <a class="item-recharge rollable">{{item.labels.recharge}}</a>
        {{else if item.data.recharge.value}}
        {{localize "DND.Charged"}}

        {{else if item.hasUses}}
        <input data-path="data.uses.value" type="text" value="{{item.data.uses.value}}">/ <input  class="uses-max" data-path="data.uses.max" type="text" value="{{item.data.uses.max}}">
        {{else}}
        <a class="addCharges" value="Add">{{localize 'DND.Add'}}</a>
        {{/if}}
      </div>

      <div class="item-detail item-action">
        {{#if item.data.activation.type }}
        {{item.labels.activation}}
        {{/if}}
      </div>

      {{else if section.isClass}}
      <div class="item-detail player-class">
        {{item.data.subclass}}
      </div>
      <div class="item-detail item-level">
        Level {{item.data.levels}}
      </div>
      {{/if}}

      {{#if ../../owner}}
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'DND.ItemEdit'}}"><i class="fas fa-pencil-alt"></i></a>
        <a class="item-control item-delete" title="{{localize 'DND.ItemDelete'}}"><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>
