<h2 class="spellbook-title">{{ localize "DND.Spellbook" }} <span><i class="fas fa-info-circle"></i></span></h2>
<ol class="inventory-list">
  {{#each spellbook as |section|}}
  <li class="item flexrow inventory-header spellbook-header">
    <div class="item-name flexrow">
      <h3>{{section.label}}</h3>
    </div>

    <div class="spell-detail spell-slots">
      {{#if section.usesSlots}}
      <input type="text" name="data.spells.{{section.prop}}.value" value="{{section.uses}}" placeholder="0"
      data-dtype="Number"/>
      <span class="sep"> / </span>
      <span class="spell-max" data-level="{{section.prop}}" data-slots="{{section.slots}}">
        {{{section.slots}}}
        {{#if ../editable}}
        <a class="slot-max-override" title="{{localize 'DND.SpellProgOverride'}}">
          <i class="fas fa-pencil-alt"></i>
        </a>
        {{/if}}
        {{ else }}
        <!-- <span class="spell-slots">{{{section.uses}}}</span>
        <span class="sep"> / </span>
        <span class="spell-max">{{{section.slots}}}</span> -->
        {{/if}}
      </div>

      <!-- <div class="spell-detail spell-school" title="{{localize "DND.SpellSchool"}}"><i class="fas fa-scroll"></i></div> -->
      <div class="spell-detail spell-action" title="{{localize "DND.SpellUsage"}}"><i class="fas fa-hourglass"></i></div>
      <div class="spell-detail spell-target" title="{{localize "DND.SpellTarget"}}"><i class="fas fa-hand-paper"></i></div>

      <div class="item-controls">
        {{#if section.canCreate}}
        <a class="item-control item-create" title="{{localize 'DND.SpellCreate'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
          <i class="fas fa-plus"></i> <!-- Add -->
        </a>
        {{/if}}
      </div>
    </li>

    <ol class="item-list">
      {{#each section.spells as |item i|}}
      <li class="item flexrow {{~#if data.preparation.prepared}} prepared {{/if}}" data-item-id="{{item._id}}" {{~#if data.preparation.prepared}} title="{{localize "DND.Prepared"}}" {{/if}}>
        <div class="item-name flexrow rollable">
          <div class="item-image" style="background-image: url({{item.img}})">
            <i class="fa fa-dice-d20"></i>
          </div>
          <h4 title="{{localize "TIDY5E.ToggleInfo"}} ({{item.name}})">
            <!-- <i class="fas fa-info-circle info-icon"></i> -->
            {{item.name}}
          </h4>

        </div>

        {{#if ../../owner}}
        <div class="spell-details spell-prepared">
          <a class="item-control item-toggle {{item.toggleClass}}" title="{{item.toggleTitle}}"><i class="fas fa-book"></i></a>
        </div>
        {{/if}}
          

        {{#if item.data.uses.per }}
        <div class="item-detail item-charges">
          <input data-path="data.uses.value" type="text" value="{{item.data.uses.value}}">/ <input  class="uses-max" data-path="data.uses.max" type="text" value="{{item.data.uses.max}}">
        </div>
        {{/if}}
        <div class="spell-detail spell-comps">
          {{#each labels.components}}
          <span class="spell-component {{this}}">{{this}}</span>
          {{/each}}
        </div>
        <!-- <div class="spell-detail spell-school">{{labels.school}}</div> -->
        <div class="spell-detail spell-action">{{labels.activation}}</div>
        <div class="spell-detail spell-target" title="{{localize 'DND.Range'}}: {{labels.range}}">
          {{#if labels.target}}
          {{labels.target}}
          {{else}}{{ localize 'DND.None' }}
          {{/if}}
        </div>


        {{#if ../../owner}}
        <div class="item-controls">
          <a class="item-control item-edit" title="{{ localize 'DND.ItemEdit' }}"><i class="fas fa-pencil-alt"></i></a>
          <a class="item-control item-delete" title="{{ localize 'DND.ItemDelete' }}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ol>
    {{else}}
    {{#if owner}}
    {{#if filters.spellbook.size}}
    <li class="item flexrow"><p class="notes">{{localize "DND.FilterNoSpells"}}</p></li>
    {{else}}
    <li class="item flexrow"><p class="notes">{{localize "DND.NoSpellLevels"}}</p></li>
    <li class="item flexrow inventory-header spellbook-header spellbook-empty">
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize 'DND.SpellCreate'}}" data-type="spell"
        data-level="{{lvl}}"><i class="fas fa-plus"></i> {{localize "DND.SpellAdd"}}</a>
      </div>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ol>

<div class="spellcasting-ability flexrow">
  <h3 class="spell-dc">{{localize "DND.SpellDC"}} {{data.attributes.spelldc}}</h3>
  <div class="caster-ability">
    <h3>{{localize "DND.SpellAbility"}}</h3>
    <select name="data.attributes.spellcasting" data-type="String">
      {{#select data.attributes.spellcasting}}
      <option value="">{{localize "DND.None"}}</option>
      {{#each data.abilities as |abl a|}}
      <option value="{{a}}">{{abl.label}}</option>
      {{/each}}
      {{/select}}
  </select>
  </div>
  {{#if isNPC}}
  <div class="caster-lvl">
    <h3>{{localize "DND.SpellcasterLevel"}}</h3>
    <input class="spellcasting-level" type="text" name="data.details.spellLevel"
  value="{{data.details.spellLevel}}" data-dtype="Number" placeholder="0"/>
  </div>
  {{/if}}
</div>