<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="tidy5e-sheet tidy5e-npc{{#if actor.flags.tidy5e-sheet.allow-delete}} allow-delete{{/if}}">
    {{!-- NPC Sheet Header --}}
    <header class="flex tidy5e-header">
      <div class="profile">
        {{!-- Portrait --}}
        <div class="portrait">
          <img class="player-image" src="{{actor.img}}" alt="{{actor.name}}" title="{{localize "TIDY5E.EditActorImage"}}" data-edit="img">
        </div>

        {{!-- HP Overlay --}}
        <div class="hp-overlay" style="background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) calc(100% - ((100% / {{data.attributes.hp.max}}) * {{data.attributes.hp.value}}) ), rgba(255,255,255,1) calc(100% - ((100% / {{data.attributes.hp.max}}) * {{data.attributes.hp.value}}) ), rgba(255,255,255,1) 100%);">
        </div>
      </div>

      {{!-- Character Details --}}
      <div class="character-details">
        <section class="flex general-information">
          <input data-input="{{actor._id}}-name" name="name" type="hidden" value="{{actor.name}}" placeholder="{{ localize 'DND.Name' }}" maxlength="40">
          <i class="link-state fas fa-link" title="Token linked to Actor"></i>
          <i class="link-state fas fa-unlink" title="Token not linked to Actor"></i>
          <h1 class="char-name" contenteditable="true" spellcheck="false" data-target="{{actor._id}}-name" data-placeholder="{{ localize 'DND.Name' }}" data-maxlength="40">{{actor.name}}</h1>
          <div class="flex cr-information">
            <div class="xp">
              <span>{{data.details.xp.value}} XP</span>
            </div>
            <div class="cr">
              <input data-input="{{actor._id}}-cr" name="data.details.cr" type="hidden" value="{{labels.cr}}" placeholder="0" maxlength="4">
              <p>{{ localize "DND.AbbreviationCR" }}<span contenteditable="true" data-target="{{actor._id}}-cr" data-placeholder="0" data-maxlength="4">{{labels.cr}}</span></p>
            </div>
          </div>
        </section>

        {{!-- Character Summary --}}
        <ul class="flex origin-summary">
          <li>
            <ul class="actor-size-select">
              <li><span class="size-label" data-size="{{data.traits.size}}">{{lookup config.actorSizes data.traits.size}}</span>
                <ul class="size-list" data-target="data.traits.size">
                  {{#each config.actorSizes as |label size|}}
                    <li data-size="{{size}}">{{label}}</li>
                  {{/each}}
                </ul>
              </li>
            </ul>
            <span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-type" data-placeholder="{{ localize 'DND.Type' }}">{{data.details.type}}</span>
            <span class="environment"><i class="fas fa-tree"></i><span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-environment" data-placeholder="{{ localize 'TIDY5E.Environment' }}">{{data.details.environment}}</span></span>,
            <span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-alignment" data-placeholder="{{ localize 'DND.Alignment' }}">{{data.details.alignment}}</span>
            <span class="source-info" contenteditable="true" spellcheck="false" data-target="{{actor._id}}-source" data-placeholder="{{ localize 'DND.Source' }}" class="source">{{data.details.source}}</span>
            <input type="hidden" data-input="{{actor._id}}-type" name="data.details.type" value="{{data.details.type}}" placeholder="{{ localize 'DND.Type' }}">
            <input type="hidden" data-input="{{actor._id}}-environment" name="data.details.environment" value="{{data.details.environment}}" placeholder="{{ localize 'TIDY5E.Environment' }}">
            <input type="hidden" data-input="{{actor._id}}-alignment" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND.Alignment' }}">
            <input data-input="{{actor._id}}-source" name="data.details.source" type="hidden" value="{{data.details.source}}" placeholder="{{ localize 'DND.Source' }}">
          </li>
          <li class="proficiency">
            <p>{{ localize 'DND.Proficiency' }}: {{numberFormat data.attributes.prof decimals=0 sign=true}}</p>
          </li>
        </ul>
        <section class="npc-core-stats">
          {{!-- Header Attributes --}}
          <ul class="header-attributes">
            <li class="header-attribute health">
              <h2 class="attribute-name rollable" title="Reroll Hit Points"><!-- <i class="fas fa-dice-d20"></i> -->{{ localize "DND.HitPoints" }}</h2>
              <div class="flex value">
                <input class="hp-min" name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                data-dtype="Number" placeholder="10" maxlength="4">
                <span class="value-separator">/</span>
                <input class="hp-max" name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                data-dtype="Number" placeholder="10" maxlength="4">
              </div>
              <footer class="flex value-footer">
                <input name="data.attributes.hp.formula" class="hpformula" type="text" placeholder="{{ localize 'DND.HealthFormula' }}"
                value="{{data.attributes.hp.formula}}"  maxlength="12">
              </footer>
            </li>

            <li class="header-attribute armor-class">
              <h2 class="attribute-name" title="{{ localize 'DND.ArmorClass' }}">{{ localize 'TIDY5E.AbbrArmorClass' }}</h2>
              <input class="ac-display" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="10" maxlength="2">
            </li>

            <li class="header-attribute npc-speed">
              <h2 class="attribute-name">{{ localize 'DND.Speed' }}</h2>
              <div class="value">
                <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}" placeholder="0">
              </div>
              <footer class="flex value-footer">
                <input type="text" class="speed" name="data.attributes.speed.special"
                value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND.SpeedSpecial' }}">
              </footer>
            </li>
          </ul>
          {{!-- Ability Scores --}}
          <ul class="ability-scores">
            {{#each data.abilities as |ability id|}}
            <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
              <h4 class="ability-name box-title rollable" title="{{ability.label}}">{{ability.abbr}}</h4>
              <div class="value">
                <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10">
              </div>
              <div class="ability-modifiers value-footer">
                <span class="ability-mod" title="{{ localize 'DND.AbilityModifier' }}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number">
                <a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND.Proficiency' }}">
                {{{ability.icon}}}</a>
                <span class="sep">/</span><span class="ability-save" title="{{ localize 'DND.ActionSave' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
              </div>
            </li>
            {{/each}}
          </ul>
        </section>
      </div>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="flex tidy5e-navigation tabs" data-group="primary">
      <a class="item active" data-tab="attributes">{{ localize "TIDY5E.Abilities" }}</a>
      <a class="item" data-tab="biography">{{ localize "DND.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
      <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
        <div class="left-pane flexcol">
          {{!-- Skills --}}
          <ul class="skills-list{{#if actor.flags.tidy5e-sheet.npcSkillsExpanded}} expanded{{/if}}{{#if actor.flags.tidy5e-sheet.npcSkillsAlwaysVisible}} .always-visible{{/if}}">
            {{#each data.skills as |skill s|}}
            <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
              <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
              <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
              <h4 class="skill-name rollable">{{skill.label}}</h4>
              <span class="skill-ability">{{skill.ability}}</span>
              <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
              <span class="skill-passive">({{skill.passive}})</span>
            </li>
            {{/each}}
            <li class="toggle-proficient" data-show-skills="{{ localize 'TIDY5E.Show' }}" data-hide-skills="{{ localize 'TIDY5E.Hide' }}"> {{ localize "TIDY5E.SkillsNotProficient" }}</li>
          </ul>
          {{!-- Traits --}}
          {{> "modules/tidy5e-sheet/templates/npc/parts/tidy5e-npc-traits.html"}}
        </div>

        <section class="center-pane flexcol">

          {{!-- Legendary Actions --}}
          <div class="counters">
            <div class="counter flexrow legendary">
              <h4>{{ localize "DND.LegAct" }}</h4>
              <div class="counter-value">
                <input type="text" name="data.resources.legact.value" data-dtype="Number" placeholder="0"
                value="{{data.resources.legact.value}}">
                <span class="sep">/</span>
                <input type="text" name="data.resources.legact.max" data-dtype="Number" placeholder="0"
                value="{{data.resources.legact.max}}">
              </div>
            </div>
            <div class="counter flexrow legendary">
              <h4>{{ localize "DND.LegRes" }}</h4>
              <div class="counter-value">
                <input type="text" name="data.resources.legres.value" data-dtype="Number" placeholder="0"
                value="{{data.resources.legres.value}}">
                <span class="sep">/</span>
                <input type="text" name="data.resources.legres.max" data-dtype="Number" placeholder="0"
                value="{{data.resources.legres.max}}">
              </div>
            </div>
            <div class="counter flexrow lair">
              <h4>{{ localize "DND.LairAct" }}</h4>
              <div class="counter-value">
                <input name="data.resources.lair.value" type="checkbox" value="{{data.resources.lair.value}}"
                data-dtype="Boolean" {{checked data.resources.lair.value}}>
                <input name="data.resources.lair.initiative" type="text" value="{{data.resources.lair.initiative}}"
                data-dtype="Number" placeholder="Init.">
              </div>
            </div>
          </div>
          <div class="tidy5e-delete-lock"><label for="tidy5e-allow-delete" class="tidy5e-delete-toggle"><span class="tidy5e-delete-disabled" title="{{localize 'TIDY5E.DeleteDisabledHint'}}"><i class="fas fa-lock"></i>{{localize "TIDY5E.DeleteDisabled"}}</span><span class="tidy5e-delete-enabled" title="{{localize 'TIDY5E.DeleteEnabledHint'}}"><i class="fas fa-unlock"></i>{{localize "TIDY5E.DeleteEnabled"}}</span></label></div>
          {{> "modules/tidy5e-sheet/templates/npc/parts/tidy5e-npc-features.html" sections=features}}
          {{> "modules/tidy5e-sheet/templates/npc/parts/tidy5e-npc-spellbook.html"}}
        </section>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography flexcol" data-group="primary" data-tab="biography">
        {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
      </div>
    </section>
  </div>
</form>
