<form class="{{cssClass}} flexcol" autocomplete="off">
	<div class="tidy5e-sheet{{#if actor.flags.tidy5e-sheet.allow-delete}} allow-delete{{/if}}">
		{{!-- Sheet Header --}}
		<header class="flex tidy5e-header">
			<div class="profile hp-{{data.attributes.hp.value}}-{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{else}}0{{/if}} deathsuccess-{{data.attributes.death.success}} deathfailure-{{data.attributes.death.failure}}">

				{{!-- Death Saves --}}
				<div class="death-saves">
					<div class="counter-value">
						<i class="fas fa-check"></i>
						<input type="text" name="data.attributes.death.success" data-dtype="Number" placeholder="0"
						value="{{data.attributes.death.success}}" maxlength="1">
						<div class="death-save rollable has-note">
							<div class="note">{{ localize "DND.DeathSave" }}</div>
							<i class="fas fa-skull"></i>
						</div>
						<input type="text" name="data.attributes.death.failure" data-dtype="Number" placeholder="0"
						value="{{data.attributes.death.failure}}" maxlength="1">
						<i class="fas fa-times"></i>
					</div>
				</div>

				{{!-- Portrait --}}
				<div class="portrait">
					<img class="player-image" src="{{actor.img}}" alt="{{actor.name}}" title="{{ localize 'TIDY5E.EditActorImage' }}" data-edit="img">
				</div>
				{{!-- HP Overlay --}}
				<div class="hp-overlay" style="background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) calc(100% - ((100% / ({{data.attributes.hp.max}} + {{#if data.attributes.hp.tempmax}}{{data.attributes.hp.tempmax}}{{else}}0{{/if}} )) * ({{data.attributes.hp.value}} + {{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{else}}0{{/if}})) ), rgba(255,255,255,1) calc(100% - ((100% / ({{data.attributes.hp.max}} + {{#if data.attributes.hp.tempmax}}{{data.attributes.hp.tempmax}}{{else}}0{{/if}} )) * ({{data.attributes.hp.value}} + {{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{else}}0{{/if}})) ), rgba(255,255,255,1) 100%);">
				</div>

				{{!-- Exhaustion --}}
				<div class="exhaustion-container level-{{data.attributes.exhaustion}} has-note">
					<div class="level-display">{{data.attributes.exhaustion}}</div>
      		<div class="note">
      			<h4>{{ localize "DND.Exhaustion" }} Level {{data.attributes.exhaustion}}</h4>
      			<p class="lvl-0">{{ localize "TIDY5E.Exhaustion0" }}</p>
      			<p class="lvl-1 lvl-2 lvl-3 lvl-4 lvl-5 lvl-6">{{ localize "TIDY5E.Exhaustion1" }}</p>
      			<p class="lvl-2 lvl-3 lvl-4 lvl-5 lvl-6">{{ localize "TIDY5E.Exhaustion2" }}</p>
      			<p class="lvl-3 lvl-4 lvl-5 lvl-6">{{ localize "TIDY5E.Exhaustion3" }}</p>
      			<p class="lvl-4 lvl-5 lvl-6">{{ localize "TIDY5E.Exhaustion4" }}</p>
      			<p class="lvl-5 lvl-6">{{ localize "TIDY5E.Exhaustion5" }}</p>
      			<p class="lvl-6">{{ localize "TIDY5E.Exhaustion6" }}</p>
      		</div>
      		<div class="exhaustion-wrap">
      			<div class="exhaustion-icon"><i class="far fa-grin"></i><i class="far fa-smile"></i><i class="far fa-meh"></i><i class="far fa-frown"></i><i class="far fa-frown-open"></i><i class="far fa-tired"></i><i class="far fa-dizzy"></i></div>
      			<ul class="exhaust-level">
            	<li data-elvl="0">0</li>
            	<li data-elvl="1">1</li>
            	<li data-elvl="2">2</li>
            	<li data-elvl="3">3</li>
            	<li data-elvl="4">4</li>
            	<li data-elvl="5">5</li>
            	<li data-elvl="6">6</li>
            </ul>
      		</div>
				</div>

				{{!-- Inspiration --}}
				<div class="inspiration has-note {{#if actor.data.attributes.inspiration}}inspiration-1{{else}}inspiration-0{{/if}}">
					<input id="{{actor._id}}-inspiration" type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean" {{checked data.attributes.inspiration}}>
					<label for="{{actor._id}}-inspiration">
						<i class="inspiration-icon fas fa-dice-d20"></i>
					</label>
					<div class="note">{{ localize 'DND.Inspiration' }}</div>
				</div>

				{{!-- Resting --}}
				<div class="rest-container has-note">
					<div class="note">{{ localize 'TIDY5E.RestHint' }}</div>
					<div class="resting">
						<span class="resting-icon"><i class="rest-icon fas fa-bed"></i></span>
						<a class="flex rest short-rest" title="{{ localize 'TIDY5E.RestS' }}"><i class="fas fa-hourglass-half"></i></a>
						<a class="flex rest long-rest" title="{{ localize 'TIDY5E.RestL' }}"><i class="fas fa-hourglass-end"></i></a>
					</div>
				</div>
			</div>

			{{!-- Character Details --}}
			<div class="character-details">
				<section class="flex general-information">
					<input data-input="{{actor._id}}-name" name="name" type="hidden" value="{{actor.name}}" placeholder="{{ localize 'DND.Name' }}" maxlength="40">
          <h1 class="char-name" contenteditable="true" spellcheck="false" data-target="{{actor._id}}-name" data-placeholder="{{ localize 'DND.Name' }}" data-maxlength="40">{{actor.name}}</h1>
					<div class="flex level-information {{#if disableExperience}}noxp{{/if}}">
						<h2 class="level">LVL {{data.details.level}}</h2>
						{{#unless disableExperience}}
						<div class="xp-tracker">
							<p class="flex experience">
								<input class="current-xp" name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number" placeholder="0" maxlength="7">
								<span class="max-xp">{{data.details.xp.max}}</span>
							</p>
							<div class="xp-bar">
								<div class="xp-bar-total">
									<span class="xp-bar-current" style="width: {{data.details.xp.pct}}%"></span>
								</div>
							</div>
						</div>
						{{/unless}}
					</div>
					{{!-- Character Class List --}}
				</section>

				{{!-- Character Summary --}}

				<ul class="flex origin-summary">
					<li>
						<ul class="actor-size-select">
              <li><span class="size-label" data-size="{{data.traits.size}}">{{lookup config.actorSizes data.traits.size}}</span>
                <ul class="size-list" data-target="data.traits.size">
                  {{#each config.actorSizes as |label size|}}
                    <li data-size="{{size}}">{{label}}</li>
                  {{/each}}
                </ul>
              </li>
            </ul>
						<span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-race" data-placeholder="{{ localize 'DND.Race' }}">{{data.details.race}}</span>
						<span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-background" data-placeholder="{{ localize 'DND.Background' }}">{{data.details.background}}</span>
						<span contenteditable="true" spellcheck="false" data-target="{{actor._id}}-alignment" data-placeholder="{{ localize 'DND.Alignment' }}">{{data.details.alignment}}</span>
						<input type="hidden" data-input="{{actor._id}}-race" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'DND.Race' }}">
						<input type="hidden" data-input="{{actor._id}}-background" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND.Background' }}">
						<input type="hidden" data-input="{{actor._id}}-alignment" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND.Alignment' }}">
					</li>
					<li class="proficiency">
						{{ localize 'DND.Proficiency' }}: {{numberFormat data.attributes.prof decimals=0 sign=true}}
					</li>
				</ul>

				{{!-- Header Attributes --}}
				<ul class="flex header-attributes">
					<li class="header-attribute">
						<h4 class="attribute-name">{{ localize 'TIDY5E.AttrHitPoints' }}</h4>
						<div class="flex value">
							<input class="hp-min" name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
							data-dtype="Number" placeholder="0" maxlength="3">
							<span class="value-seperator">/</span>
							<input class="hp-max" name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
							data-dtype="Number" placeholder="10" maxlength="3">
						</div>
						<footer class="flex value-footer">
							<input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'DND.Temp' }}"
							value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}" maxlength="3">
							<input name="data.attributes.hp.tempmax" type="text" class="max-temphp" placeholder="+{{ localize 'DND.Max' }}"
							value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}" maxlength="3">
						</footer>
					</li>
					<li class="header-attribute">
						<h4 class="attribute-name">{{ localize 'DND.HitDice' }}</h4>
						<div class="value">
							<p>{{data.attributes.hd}}<span>/</span>{{data.details.level}}</p>
						</div>
						<footer class="flex value-footer">
							<p>{{ localize 'TIDY5E.HitDiceHint' }}</p>
						</footer>
					</li>
					<li class="header-attribute">
						<h4 class="attribute-name">{{ localize 'DND.ArmorClass' }}</h4>
						<input class="ac-display" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="10"maxlength="2">
					</li>
					<li class="header-attribute">
						<h4 class="attribute-name">{{ localize 'DND.Speed' }}</h4>
						<div class="value">
							<input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}" placeholder="0">
						</div>
						<footer class="flex value-footer">
							<input type="text" class="speed" name="data.attributes.speed.special"
							value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND.SpeedSpecial' }}">
						</footer>
					</li>
					<li class="header-attribute initiative">
						<h4 class="attribute-name">{{ localize 'DND.Initiative' }}</h4>
						<div class="value">
							<p>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</p>
						</div>
						<footer class="flex value-footer">
							<label for="{{actor._id}}-ini-mod">{{ localize 'TIDY5E.AbbrMod' }}</label>
							<input id="{{actor._id}}-ini-mod" class="ini-mod" name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" maxlength="2">
						</footer>
					</li>
				</ul>

			</div>

		</header>
		
		{{!-- PC Sheet Navigation --}}
		<nav class="flex tidy5e-navigation tabs" data-group="primary">
			<a class="item active" data-tab="attributes">{{ localize "DND.Attributes" }}</a>
			<a class="item" data-tab="inventory">{{ localize "DND.Inventory" }}</a>
			<a class="item" data-tab="features">{{ localize "DND.Features" }}</a>
			<a class="item" data-tab="spellbook">{{ localize "DND.Spellbook" }}</a>
			<a class="item" data-tab="biography">{{ localize "DND.Biography" }}</a>
			<a class="item" data-tab="journal">{{ localize "TIDY5E.Journal" }}</a>
		</nav>


		{{!-- NPC Sheet Body --}}
		<section class="sheet-body">

			<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
				
				<div class="left-pane">
					{{!-- Ability Scores --}}
					<ul class="ability-scores">
						{{#each data.abilities as |ability id|}}
						<li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
							<h4 class="ability-name rollable">{{ability.label}}</h4>
							<div class="ability-values">
								<span class="ability-mod" title="{{ localize 'DND.AbilityModifier' }}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
								<input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10" maxlength="2">
								<span class="ability-save" title="{{ localize 'DND.ActionSave' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
							</div>
							<div class="ability-modifiers">
								<input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number">
								<a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND.Proficiency' }}">{{{ability.icon}}}</a>
							</div>
						</li>
						{{/each}}
					</ul>

					{{!-- Skills --}}
					<ul class="skills-list">
						{{#each data.skills as |skill s|}}
						<li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
							<input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number">
							<a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
							<h4 class="skill-name rollable">{{skill.label}}</h4>
							<span class="skill-ability">{{skill.ability}}</span>
							<span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
							<span class="skill-passive" title="{{skill.label}} ({{ localize 'TIDY5E.SkillPassive' }})">({{skill.passive}})</span>
						</li>
						{{/each}}
					</ul>

					{{!-- Traits --}}
					{{> "modules/tidy5e-sheet/templates/parts/tidy5e-traits.html"}}
				</div>

				<section class="center-pane">

					{{!-- Resources --}}
					<ul class="attributes flexrow">
						{{#each resources as |res|}}
						<li class="attribute resource">
							<header class="attribute-header">
								<span class="res-options"><i class="fas fa-cog"></i></span>
								<div class="res-rest">
									<h4>{{ localize "TIDY5E.RestoreOnRest" }}</h4>
									<input id="{{../actor._id}}-{{res.name}}.sr" name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}>
									<label for="{{../actor._id}}-{{res.name}}.sr" class="checkbox">
										{{ localize "DND.RestS" }} 
									</label>
									<input id="{{../actor._id}}-{{res.name}}.lr" name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}>
									<label for="{{../actor._id}}-{{res.name}}.lr" class="checkbox">
										{{ localize "DND.RestL" }} 
									</label>
								</div>
							</header>
							<h4 class="attribute-name">
								<input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
								placeholder="{{res.placeholder}}">
							</h4>
							<div class="attribute-value multiple">
								<input class="res-value" name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}"
								data-dtype="Number" placeholder="0" maxlength="3">
								<span class="sep">/</span>
								<input class="res-max" name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}"
								data-dtype="Number" placeholder="0" maxlength="3">
							</div>
							
						</li>
						{{/each}}
					</ul>
					{{!-- Traits --}}
					<div class="alt-trait-pos"></div>

					{{!-- Favorites --}}
					<div class="favorites-target"></div>
				</section>
			</div>

			{{!-- Inventory Tab --}}
			<div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
				{{> "modules/tidy5e-sheet/templates/parts/tidy5e-inventory.html" sections=inventory}}
			</div>

			{{!-- Features Tab --}}
			<div class="tab features flexcol" data-group="primary" data-tab="features">
				{{> "modules/tidy5e-sheet/templates/parts/tidy5e-features.html" sections=features}}
			</div>

			{{!-- Spellbook Tab --}}
			<div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
				{{> "modules/tidy5e-sheet/templates/parts/tidy5e-spellbook.html"}}
			</div>

			{{!-- Biography Tab --}}
			<div class="tab biography flexrow" data-group="primary" data-tab="biography">
				<div class="left-notes note-entries">
					<article>
						<div class="section-titles biopage">{{ localize "TIDY5E.BioTraits" }}</div>
						{{editor content=data.details.trait target="data.details.trait" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "TIDY5E.BioIdeals" }}</div>
						{{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "TIDY5E.BioBonds" }}</div>
						{{editor content=data.details.bond target="data.details.bond" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles biopage">{{ localize "TIDY5E.BioFlaws" }}</div>
						{{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner editable=editable}}
					</article>
				</div>

				<div class="right-notes note-entries">
					<article>
						<div class="section-titles biopage">{{ localize "TIDY5E.BioAppearance" }}</div>
						{{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
					</article>
					<article class="biography-notes">
						<div class="section-titles">{{ localize "TIDY5E.BioBackground" }}</div>
						{{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
					</article>
				</div>

			</div>

			{{!-- Journal Tab --}}
			<div class="tab journal flexrow" data-group="primary" data-tab="journal">
				<div class="left-notes note-entries">
					<article>
						<div class="section-titles">
							<input type="text" name="data.details.notes1name" value="{{data.details.notes1name}}" placeholder="{{ localize 'TIDY5E.JournalPoi' }}"/>
						</div>
						{{editor content=data.details.notes1.value target="data.details.notes1.value" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="data.details.notes2name" value="{{data.details.notes2name}}" placeholder="{{ localize 'TIDY5E.JournalLoi' }}"/>
						</div>
						{{editor content=data.details.notes2.value target="data.details.notes2.value" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="data.details.notes3name" value="{{data.details.notes3name}}" placeholder="{{ localize 'TIDY5E.JournalQuests' }}"/>
						</div>
						{{editor content=data.details.notes3.value target="data.details.notes3.value" button=true owner=owner editable=editable}}
					</article>
					<article>
						<div class="section-titles">
							<input type="text" name="data.details.notes4name" value="{{data.details.notes4name}}" placeholder="{{ localize 'TIDY5E.JournalMisc' }}"/>
						</div>
						{{editor content=data.details.notes4.value target="data.details.notes4.value" button=true owner=owner editable=editable}}
					</article>
				</div>
				<div class="right-notes note-entries">
					<article class="journal-notes">
						<div class="section-titles">{{ localize 'TIDY5E.JournalEntries' }}</div>
						{{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
					</article>
				</div>
			</div>
		</section>
	</div>
</form>