<li class="item flexrow fav-item{{#if item.data.attuned}} attuned{{/if}}{{#if item.data.equipped}} equipped{{/if}}{{#if item.data.preparation.prepared}} prepared{{/if}}{{#if item.alwaysPrep}} alwaysPrepared{{/if}}" data-item-id="{{item._id}}" {{#if item.canPrep}}title="{{item.toggleTitle}}{{/if}}">
  <div class="item-name flexrow rollable">        
    <div class="item-image" style="background-image: url({{item.img}})">
      <i class="fa fa-dice-d20"></i>
    </div>
    <h4  title="{{localize "TIDY5E.ToggleInfo"}} ({{item.name}})">
      <i class="fas fa-info-circle info-icon"></i>
      {{item.name}}
      <!-- {{item.spellPrepMode}} -->
    </h4>
    {{#if item.data.quantity}}
      <span class="item-quantity{{#if item.isStack}} isStack{{/if}}">
        (<input class="item-count" data-path="data.quantity" type="text" value="{{item.data.quantity}}" maxlength="3" {{#if item.editable}}{{else}}disabled{{/if}}>)
      </span>
    {{/if}}
  </div>

  {{#if item.isItem}}
  <div class="state-display item-equipped">
    <a class="item-control item-toggle {{item.toggleClass}}" data-path="data.equipped" title="{{item.toggleTitle}}">
      <i class="fas fa-user-alt-slash"></i>
      <i class="fas fa-user-alt"></i>
    </a>
  </div>
  {{/if}}

  {{#if item.canPrep}}
  <div class="state-display spell-details spell-prepared">
    <a class="item-control item-toggle {{item.toggleClass}}" data-path="data.preparation.prepared" title="{{item.toggleTitle}}">
      <i class="fas fa-book"></i>
    </a>
  </div>
  {{/if}}

  {{#if item.isItem}}
  <div class="item-detail item-charges">
    {{#if item.data.uses.max}}
      <input data-path="data.uses.value" type="text" value="{{item.data.uses.value}}" {{#if item.editable}}{{else}}disabled{{/if}}>
      / <input  class="uses-max" data-path="data.uses.max" type="text" value="{{item.data.uses.max}}" {{#if item.editable}}{{else}}disabled{{/if}}>
    {{else}}
      {{#if item.editable}}<a class="addCharges" value="Add">{{localize "DND.Add"}}</a>
      {{/if}}
    {{/if}}
  </div>
  {{/if}}
  {{#if item.isFeat}}
  <div class="item-detail item-charges">
    {{#if item.isOnCooldown}}
      <a class="item-recharge rollable" title="{{item.labels.recharge}}"><i class="fas fa-bolt"></i>{{item.labels.rechargeValue}}</a>
      {{else if item.data.recharge.value}}
      {{localize "DND.Charged"}}
    {{else if item.data.uses.max}}
    <input data-path="data.uses.value" type="text" value="{{item.data.uses.value}}" {{#if item.editable}}{{else}}disabled{{/if}}>
    / <input class="uses-max" data-path="data.uses.max" type="text" value="{{item.data.uses.max}}" {{#if item.editable}}{{else}}disabled{{/if}}>
    {{else}}
      {{#if item.editable}}<a class="addCharges" value="Add">{{localize "DND.Add"}}</a>{{/if}}
    {{/if}}
  </div>
  {{/if}}

  {{#if item.spellComps}}
    <div class="spell-detail spell-comps">
      {{item.spellComps}}
      {{#if item.spellCon}}<span class="spell-component C">C</span>{{/if}}
      {{#if item.spellRit}}<span class="spell-component R">R</span>{{/if}}
    </div>
  {{/if}}

  <div class="item-detail item-action">
    {{#each item.favLabels as |label id|}}
      <span title="{{label}}">{{label}}</span>
    {{/each}}
  </div>

  <div class="item-detail item-controls">
    <a class="item-control item-edit" title="{{localize "DND.ItemEdit"}}">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <a class="item-control item-fav" title="{{localize "TIDY5E.RemoveFav"}}">
      <i class="fas fa-bookmark"></i>
    </a>
  </div>
</li>