<div class="favorites">
  {{#if favItems}}
    <ol class="inventory-list fav-item">
      <li class="inventory-header flexrow">
        <h3>{{localize 'DND.Inventory'}}</h3>
        <div class="item-detail item-charges" title="{{localize 'DND.Charges'}}"><i class="fas fa-bolt"></i></div>
        <div class="item-detail item-action" title="{{localize 'DND.Usage'}}"><i class="fas fa-hourglass"></i></div>
      </li>
      <ol class="item-list">
        {{#each favItems as |item id|}}
         {{> "modules/tidy5e-sheet/templates/favorites/item.hbs" item=item}}
        {{/each}}
      </ol>
    </ol>
  {{/if}}
  {{#if favFeats}}
    <ol class="inventory-list fav-feat">
      <li class="inventory-header flexrow">
        <h3>{{localize 'DND.Features'}}</h3>
        <div class="item-detail item-charges" title="{{localize 'DND.Uses'}}"><i class="fas fa-bolt"></i></div>
        <div class="item-detail item-action" title="{{localize 'DND.Usage'}}"><i class="fas fa-hourglass"></i>
      </li>
      <ol class="item-list">
        {{#each favFeats as |feat lvl|}}
        {{> "modules/tidy5e-sheet/templates/favorites/item.hbs" item=feat}}
        {{/each}}
      </ol>
    </ol>
  {{/if}}

  {{#if favSpellsPrepMode}}
    {{#each favSpellsPrepMode as |section lvl|}}
      <ol class="inventory-list fav-spell">
        {{#if section.spells}}
          {{#if lvl}}
            <li class="inventory-header flexrow">                        
              <h3>
              {{#if section.isAlways}}{{localize 'DND.SpellPrepAlways'}}
              {{else if section.isAtWill}}{{localize 'DND.SpellPrepAtWill'}}
              {{else if section.isInnate}}{{localize 'DND.SpellPrepInnate'}}
              {{else if section.isPact}}{{localize 'DND.SpellProgPact'}}
              {{/if}}
              </h3>
              {{#if section.isPact}}
                <span class="spell-slots">
                  <input type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.value" value="{{section.value}}" placeholder="0"/>
                  /
                  <input class="spell-max" type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.override" value="{{section.max}}" placeholder="0"/>
                </span>
                {{else}}
                <!-- <span class="spell-slots">
                  &ndash; / &ndash;
                </span> -->
              {{/if}}
              <div class="item-detail item-action" title="{{localize 'DND.SpellUsage'}}"><i class="fas fa-hourglass"></i>
            </li>
          {{/if}}
          <ol class="item-list">
            {{#each section.spells as |spell id|}}
              {{> "modules/tidy5e-sheet/templates/favorites/item.hbs" item=spell}}
            {{/each}}
          </ol>
        {{/if}}
      </ol>
    {{/each}}
  {{/if}}
  {{#if favSpells}}
    {{#each favSpells as |section lvl|}}
      <ol class="inventory-list fav-spell">
        {{#if section.spells}}
          {{#if lvl}}
            <li class="inventory-header flexrow">                        
              <h3>
              {{#if section.isCantrip}}{{localize 'DND.SpellCantrip'}}
              {{else if section.isAlways}}{{localize 'DND.SpellPrepAlways'}}
              {{else if section.isAtWill}}{{localize 'DND.SpellPrepAtWill'}}
              {{else if section.isInnate}}{{localize 'DND.SpellPrepInnate'}}
              {{else if section.isPact}}{{localize 'DND.SpellProgPact'}}
              {{else}}{{localize 'DND.SpellLevel'}} {{lvl}}{{/if}}
              </h3>
              {{#if section.isCantrip}}
                <!-- <span class="spell-slots">∞/∞</span> -->
                {{else}}
                <span class="spell-slots">
                  <input type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.value" value="{{section.value}}" placeholder="0"/>
                  /
                  <input class="spell-max" type="text" ${inputStyle} data-target="data.spells.spell{{lvl}}.override" value="{{section.max}}" placeholder="0"/>
                </span>
              {{/if}}
              <div class="item-detail item-action" title="{{localize 'DND.SpellUsage'}}"><i class="fas fa-hourglass"></i>
            </li>
          {{/if}}
          <ol class="item-list">
            {{#each section.spells as |spell id|}}
              {{> "modules/tidy5e-sheet/templates/favorites/item.hbs" item=spell}}
            {{/each}}
          </ol>
        {{/if}}
      </ol>
    {{/each}}
  {{/if}}
</div>