/* ------------------------------------ */
/*   Support Better Rolls / Minor QOL   */
/* ------------------------------------ */

.tidy5e.sheet.actor .inventory-list .item-summary .item-buttons {
	margin: 8px 0; 
}

.tidy5e.sheet.actor .inventory-list .item-summary .item-buttons .tag {
	border: none;
	margin: 2px 4px 2px 0; 
}

.tidy5e.sheet.actor .inventory-list .item-summary .item-buttons .tag button {
	border: 1px solid rgba(0,0,0,.2);
	background: rgba(0,0,0,.4);
	color: rgba(255,255,255,.8);
	padding: .25rem .5rem;
	box-shadow: none;
	cursor: pointer;
}

.tidy5e.sheet.actor .inventory-list .item-summary .item-buttons .tag button:hover {
	background: rgba(0,0,0,.6);
}

.dnd.sheet.item .item-betterRolls input[type="text"], 
.dnd.sheet.item .item-betterRolls select {
	height: 24px;
	border: none;
	background: rgba(255,255,255,.3); 
}

/* ------------------------ */
/* Support Dynamic Effects  */
/* ------------------------ */

.dnd.sheet.item .sheet-body .tab.dynamiceffects {
	padding: 0 .7rem 0 0;
}

.dnd.sheet.item .sheet-body .tab.dynamiceffects > div {
	float: left;
	width: calc(50% - 2px);
	flex-direction: row-reverse;
}

.dnd.sheet.item .sheet-body .tab.dynamiceffects > div + div {
	clear: none;
	float: right;
	width: calc(50% - 2px);
	flex-direction: row-reverse;
}

.dnd.sheet.item .sheet-body .tab.dynamiceffects > div label,
.dnd.sheet.item .sheet-body .tab.dynamiceffects > div + div label {
	padding-top: 1px;
	margin: 0;
}

.dnd.sheet.item .dynamiceffects-effect-list {
	clear: both;
	padding: 0;
}

.dnd.sheet.item .effect-header {
	margin: 0 0 .25rem 0;
	padding-top: .5rem;
	line-height: 20px;
	background: transparent;
	border: none;
	border-top: 1px solid rgba(0,0,0,.1);
	font-family: "Signika", sans-serif;
}

.dnd.sheet.item .effect-header:first-child,
.dnd.sheet.item .dynamiceffects-effect-list .effect-name,
.dnd.sheet.item .dynamiceffects-effect-list .effect-mode,
.dnd.sheet.item .dynamiceffects-effect-list .effect-value,
.dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
	border: none;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-name {
	flex: 1;
	padding-top: 2px;
	border: none;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-mode,
.dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-value {
	color: rgba(0,0,0,.4);
	padding-top: 2px;
	border: none;
}

.dnd.sheet.item .effect-header h3 {
	font-family: "Signika", sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect {
	padding: 0;
  line-height: 30px;
  background: rgba(0,0,0,.1);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect .effect-name {
	padding: 0 .5rem;
	flex: 1;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-mode,
.dnd.sheet.item .dynamiceffects-effect-list .effect-value {
	color: rgba(0,0,0,.6);
	flex: 0 0 70px;
	text-align: center;
	border-left: 1px solid rgba(0,0,0,.15);
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-controls {
	flex: 0 0 66px;
	text-align: center;
	justify-content: center;
	border: none;
	border-left: 1px solid rgba(0,0,0,.15);
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create {
	flex: 1;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	background: rgba(0,0,0,.4);
	color: rgba(255,255,255,.6);
	font-size: 12px;
	font-weight: normal;
	align-items: center;
	padding-top: 2px;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-edit,
.dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete {
	flex:0 0 22px;
	text-align: center;
	font-size: 12px;
}

.dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete {
	color: rgba(255,0,0,.5);
}

/* ------------------------ */
/*    Support Magic Items   */
/* ------------------------ */

.tidy5e.sheet.actor .magic-items-spells-content {
}


.dnd.sheet.item .magic-items-content input[type="text"],
.dnd.sheet.item .magic-items-content select {
	border: none !important;
	background: rgba(255,255,255, .3);
	color: var(--default-primary-color);
}

.dnd.sheet.item .magic-items-content input[type="text"]:hover,
.dnd.sheet.item .magic-items-content select:hover,
.dnd.sheet.item .magic-items-content select:focus {
	border: none !important;
	box-shadow: 0 0 0 1px var(--default-primary-accent);
}

.tidy5e.sheet.actor .magic-items-feats-content .spellbook-filters.magic-items-head,
.tidy5e.sheet.actor .magic-items-spells-content .spellbook-filters.magic-items-head {
	padding: .5rem 0;
	margin: .5rem 0 0 0;
	border: none;
	border-top: 3px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.tidy5e.sheet.actor .magic-items-feats-content .spellbook-filters.magic-items-head h3,
.tidy5e.sheet.actor .magic-items-spells-content .spellbook-filters.magic-items-head h3 {
	font-size: 16px;
	font-weight: 600;
}

.tidy5e.sheet.actor .magic-items-feats-content .inventory-header.spellbook-header,
.tidy5e.sheet.actor .magic-items-spells-content .inventory-header.spellbook-header,
.tidy5e.sheet.actor .magic-items-feats-content .spellbook-header div,
.tidy5e.sheet.actor .magic-items-spells-content .spellbook-header div,
.tidy5e.sheet.actor .magic-items-feats-content .magic-item,
.tidy5e.sheet.actor .magic-items-spells-content .magic-item {
	border: none;
}

.tidy5e.sheet.actor .magic-items-feats-content .spell-slots input:last-child,
.tidy5e.sheet.actor .magic-items-spells-content .spell-slots input:last-child {
	text-align: left;
}

.tidy5e.sheet.actor .magic-items-feats-content .magic-item div,
.tidy5e.sheet.actor .magic-items-spells-content .magic-item div {
	border-right: 1px solid rgba(0,0,0,.15);
}

.tidy5e.sheet.actor .magic-items-feats-content .magic-item div:last-child,
.tidy5e.sheet.actor .magic-items-spells-content .magic-item div:last-child {
	border-right: none;
}

.tidy5e.sheet.actor .magic-items-feats-content .magic-item-image,
.tidy5e.sheet.actor .magic-items-spells-content .magic-item-image {
	border-radius: 5px 0 0 5px;
}

.tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image,
.tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image {
  background-repeat: no-repeat;
  background-position: center;
	background-size: 70%;
  background-image: url(../images/d20-333.svg) !important;
  cursor: pointer;
}

.tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image:hover,
.tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image:hover {
  background-image: url(../images/d20-highlight.svg) !important;
}

/* Magic Item Sheet */

.dnd.sheet.item .magic-items-content .magic-item-charges,
.dnd.sheet.item .magic-items-content .magic-item-recharge input[type="text"] {
	text-align: right;
}

.dnd.sheet.item .sheet-body .tab.magic-items {
	padding: 0 .7rem 0 0;
}

.dnd.sheet.item .sheet-body .tab.magic-items .input-select {
	height: 32px;
	line-height: 30px;
}

.dnd.sheet.item .sheet-body .tab.magic-items .input-select label {
	margin-left: 4px;
}

.dnd.sheet.item .magic-item-list {
	clear: both;
	padding: 0;
}

.dnd.sheet.item .magic-item-list .inventory-header {
	margin: 0 0 .25rem 0;
	padding-top: .5rem;
	line-height: 20px;
	background: transparent;
	border: none;
	border-top: 1px solid rgba(0,0,0,.1);
	font-family: "Signika", sans-serif;
}

.dnd.sheet.item .magic-item-list .inventory-header:first-child,
.dnd.sheet.item .magic-item-list .inventory-header .item-name,
.dnd.sheet.item .magic-item-list .inventory-header .spell-level-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-consumption-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-upcast-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-cost-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-constrols-head{
	border: none;
}

.dnd.sheet.item .magic-item-list .item.inventory-header .item-name {
	flex: 1;
	padding: 2px 0 0 4px;
	border: none;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-level-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-consumption-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-upcast-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-cost-head,
.dnd.sheet.item .magic-item-list .inventory-header .spell-controls-head {
	color: rgba(0,0,0,.4);
	padding-top: 2px;
	margin-right: 4px;
	text-align: center;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-controls-head {
	margin-right: 0;
}

.dnd.sheet.item .magic-item-list .inventory-header h3 {
	font-family: "Signika", sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

.dnd.sheet.item .magic-item-list .item:not(.inventory-header) {
	padding: 0;
  line-height: 30px;
  height: 30px;
  background: rgba(0,0,0,.1);
  border: none;
  border-radius: 5px;
  margin: 2px 0;
  overflow: hidden; 
}

.dnd.sheet.item .magic-item-list .item .item-name {
	padding: 0 .5rem 0 0;
	flex: 1;
}

.dnd.sheet.item .magic-item-list .item.inventory-header .item-name {
	cursor: default;
}

.dnd.sheet.item .magic-item-list .item .spell-level,
.dnd.sheet.item .magic-item-list .item .spell-consumption,
.dnd.sheet.item .magic-item-list .item .spell-upcast,
.dnd.sheet.item .magic-item-list .item .spell-cost {
	color: rgba(0,0,0,.6);
	text-align: center;
	border-left: 1px solid rgba(0,0,0,.15);
	margin: 3px 4px 3px 0;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-consumption-head,
.dnd.sheet.item .magic-item-list .item .spell-consumption {
	flex: 0 0 80px;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-cost-head,
.dnd.sheet.item .magic-item-list .item .spell-cost {
	flex: 0 0 50px;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-level-head,
.dnd.sheet.item .magic-item-list .item .spell-level {
	flex: 0 0 70px;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-upcast-head,
.dnd.sheet.item .magic-item-list .item .spell-upcast {
	flex: 0 0 85px;
}

.dnd.sheet.item .magic-item-list .item .feat-consumption {
	flex: 0 0 80px;
	margin: 3px 4px 3px 0px;
	text-align: center;
}

.dnd.sheet.item .magic-item-list .inventory-header .spell-controls-head,
.dnd.sheet.item .magic-item-list .item-controls {
	flex: 0 0 30px;
	text-align: center;
	justify-content: center;
	border: none;
}

.dnd.sheet.item .magic-item-list .item-controls a {
	flex:0 0 22px;
	text-align: center;
	font-size: 12px;
	color: rgba(255,0,0,.5);
	margin: 0;
}


/* ----------------------------- */
/*    Support Skill Customizer   */
/* ----------------------------- */

.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
  line-height: 14px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  flex: 0 0 1px;
  margin-right: 2px;
  font-family: Signika;
  height: 14px;
  color: var(--default-primary-color);
}

.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover,
.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus {
  background: var(--default-primary-accent);
  color: var(--default-primary-color);
  box-shadow: 0 0 0 1px var(--default-primary-accent);
}

.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover option,
.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus option {
  background: #fff;
  padding: 0 4px;
}

.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select {
  text-align-last: left;
  -moz-text-align-last: left;
  -ms-text-align-last: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
	border: none;
	box-shadow: 0 0 0 1px var(--default-light-color) inset;
  margin-top: -2px;
  padding-top: 2px;
}

.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:hover,
.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:focus {
	box-shadow: 0 0 0 1px var(--default-primary-accent) inset;
}