/* ------------------------- */
/* Support dnd Item sheet  */
/* ------------------------- */


.dnd.sheet a:hover {
	text-shadow: none;
}

/* Checkbox styling */

.dnd.sheet.item input[type="checkbox"],
.dnd.sheet.item button,
.dnd.sheet.item select{
	cursor: pointer;
}

.dnd.sheet.item button,
.dnd.sheet.item select{
	border: none;
}

.dnd.sheet.item input[type="text"] {
	border: none;
}

.dnd.sheet.item input[type="text"]:hover,
.dnd.sheet.item input[type="text"]:focus {
	border: none;
	box-shadow: 0 0 0 1px var(--default-primary-accent) inset;
}

.dnd.sheet.item input[type="checkbox"] {
	margin: 2px;
}

.dnd.sheet.item .window-content {
	padding: 0;
}

.dnd.sheet.item .sheet-header {
	padding: 1rem;
	border: none; 
}

.dnd.sheet.item .sheet-header img.profile {
	flex: 0 0 80px;
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-right: 0;
}

.dnd.sheet.item .sheet-header {
	flex: 0 0 80px;
	padding: 1rem;
	background: rgba(255,255,255,.2);
}

.dnd.sheet.item .sheet-header .header-details {
	margin-left: 1rem;
	padding: .5rem 0;
}

.dnd.sheet.item .sheet-header h1.charname {
	padding: 0;
	height: 30px;
	line-height: 18px;
}

.dnd.sheet.item .sheet-header h1 input {
	margin: 0;
	padding: 0;
	font-size: 24px;
	height: 100%;
	width: 100%;
}

.dnd.sheet.item .sheet-header .item-subtitle {
	padding: .25rem .5rem;
	background: rgba(0,0,0,.1);
	border-radius: 5px;
	color: rgba(0,0,0,.4);
	display: flex;
	align-items: flex-end;
	height: 26px;
	margin-left: 1rem;
	flex: 0 1 140px; 
}

.dnd.sheet.item .sheet-header .item-subtitle .item-type {
	font-size: 20px;
	line-height: 16px;
	color: rgba(0,0,0,.7);
}

.dnd.sheet.item .sheet-header .item-subtitle .item-status {
	font-size: 16px;
	line-height: 14px;
	margin-left: .25rem;
	color: rgba(0,0,0,.4);
}

.dnd.sheet.item .sheet-header .summary {
	border: 1px solid rgba(0,0,0,.2);
	border-left: none;
	border-right: none;
	display: flex;
	font-size: 14px;
	font-family: "Signika", sans-serif;
	height: 28px;
}

.dnd.sheet.item .sheet-header .summary li {
	margin: 0;
	padding: .25rem .5rem;
	float: none;
	border: none;
	border-left: 1px solid rgba(0,0,0,.1);
	flex: 1;
	line-height: 20px;
	height: 26px;
}

.dnd.sheet.item .sheet-header .summary li input {
	height: 20px;
}

.dnd.sheet.item .sheet-header .summary li:first-child {
	border: none;
	padding-left: 0;
}

.dnd.sheet.item .sheet-header .summary li:last-child {
	padding-right: 0;
}

/* navigation */

.dnd.sheet.item .sheet-navigation {
	font-family: "Signika", sans-serif;
	margin: 0;
}

.dnd.sheet.item .sheet-navigation .item {
	margin: 0;
	padding: 5px 1rem 0 1rem;
	background: rgba(255,255,255,.2);
	border: none;
  box-shadow:	0 1px 0 0 rgba(0,0,0,.2);
	text-align: left;
	font-size: 13px;
	line-height: 16px;
	height: 26px;
}

.dnd.sheet.item .sheet-navigation .item.active {
	background: transparent;
  box-shadow: 
  	-1px 0 0 0 rgba(0,0,0,.2),
  	1px 0 0 0 rgba(0,0,0,.2),
  	0 -1px 0 0 rgba(0,0,0,.2),
  	0 0 0 0 rgba(0,0,0,.2);
	font-weight: 600;
	cursor: default;
	text-shadow: none;
}

.dnd.sheet.item .sheet-navigation .item:hover {
	color: var(--default-primary-accent);
	text-shadow: none;
}

.dnd.sheet.item .sheet-navigation .item.active:hover {
	color: inherit;
}

.dnd.sheet.item .sheet-navigation .item:first-child.active {
  box-shadow: 
  	0 0 0 0 rgba(0,0,0,.2),
  	1px 0 0 0 rgba(0,0,0,.2),
  	0 -1px 0 0 rgba(0,0,0,.2),
  	0 0 0 0 rgba(0,0,0,.2);
}

.dnd.sheet.item .sheet-navigation .item:last-child.active {
  box-shadow: 
  	-1px 0 0 0 rgba(0,0,0,.2),
  	0 0 0 0 rgba(0,0,0,.2),
  	0 -1px 0 0 rgba(0,0,0,.2),
  	0 0 0 0 rgba(0,0,0,.2);
}

/* item properties */

.dnd.sheet.item .sheet-body .item-properties .form-group {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.dnd.sheet.item .sheet-body .item-properties .form-group:last-of-type {
	border: none; 
}

.dnd.sheet.item .sheet-body .item-properties .form-group input {
	flex: 0 0 50px;
}

.dnd.sheet.item .sheet-body .item-properties .properties-list {
	margin-top: .25rem;
}

.dnd.sheet.item .sheet-body .item-properties .form-group + .properties-list {
	margin-top: .5rem;
}

/* item sheet body */

.dnd.sheet.item {
	min-height: 500px;
}

.dnd.sheet.item .sheet-body {
	padding: 1rem;
	padding-right: .25rem;
}

.dnd.sheet.item .sheet-body .tab {
	padding: 0;
}

.dnd.sheet.item .sheet-body .item-properties {
	margin: 0;    
	padding: 0 .5rem 0 0;
  border-right: 1px solid rgba(0,0,0,.1);
}

.dnd.sheet.item .sheet-body .item-properties .properties-list li {
	margin: 0 0 2px 0;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	font-size: 11px;
	line-height: 16px; 
}

/* item sheet editor */

.dnd.sheet.item .sheet-body .editor {
	margin-left: .5rem;
}

.dnd.sheet.item .sheet-body .editor .editor-edit {
	right: .75rem;
	top: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	background: transparent;
}

.dnd.sheet.item .sheet-body .editor .editor-edit i {
	font-size: 1em;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  text-shadow: none;
}

.dnd.sheet.item .sheet-body .editor-content {
	margin: 0;
	padding: 0 .75rem 0 0;
}

.dnd.sheet.item .sheet-body .editor-content::before {
	display: block;
	content: 'Mechanics/Flavor Text';
	font-weight: 600;
	line-height: 20px;
	margin-bottom: .5rem
}

.dnd.sheet.item .sheet-body .tab.details {
	padding-right: .75rem;
}

.dnd.sheet.item .sheet-body .editor .tox .tox-toolbar__group {
	padding: 0;
}

.dnd.sheet.item .sheet-body .editor .tox .tox-tbtn {
	width: 24px;
	height: 24px;
}

.dnd.sheet.item .sheet-body .editor .tox.tox-tinymce .tox-tbtn[title="Formats"] {
	width: 90px;
}

.dnd.sheet.item .sheet-body .editor .tox .tox-tbtn--select {
	width: auto;
}

/* details tab */

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-header,
.dnd.sheet.item .sheet-body .tab.details .form-header {
	border: none;
	margin: 1rem .5rem .5rem .5rem;
	padding: 0; 
	font-size: 20px;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-header:first-child,
.dnd.sheet.item .sheet-body .tab.details .form-header:first-child {
	margin-top: 0;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group,
.dnd.sheet.item .sheet-body .tab.magic-items .form-group,
.dnd.sheet.item .sheet-body .tab.details .form-group {
	margin: 2px 0;
	padding: .25rem;
	background: rgba(0,0,0, .075);
	border-radius: 5px;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group.stacked,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group.stacked,
.dnd.sheet.item .sheet-body .tab.magic-items .form-group.stacked,
.dnd.sheet.item .sheet-body .tab.details .form-group.stacked {
	display: flex;
	flex-wrap: wrap;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group label.checkbox,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group label.checkbox,
.dnd.sheet.item .sheet-body .tab.magic-items .form-group label.checkbox,
.dnd.sheet.item .sheet-body .tab.details .form-group label.checkbox {
	position: relative;
	z-index: 1;
	margin: 2px;
  padding: 1px;
  display: flex;
	border-radius: 3px;
	overflow: hidden; 
  border: 1px solid #b3b3b3;
  background: rgba(0,255,0,.3);
  height: 24px;
  cursor: pointer;
  color: var(--default-secondary-color);
	font-size: 13px;
	line-height: 20px;
  flex: 0 0 calc(100% / 4 - 4px);
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group label.checkbox {
  flex: 0 0 calc(100% / 3 - 4px);
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group label.checkbox:hover,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group label.checkbox:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group label.checkbox:hover {
	background: rgba(0,100,0,.3);
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group .checkbox:hover  input::after,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group label.checkbox:hover  input::after,
.dnd.sheet.item .sheet-body .tab.details .form-group .checkbox:hover input::after {
	background: #b8b8b8;
}

.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.activation.cost"],
.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.target.value"],
.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.range.value"],
.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.duration.value"],
.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.uses.value"],
.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.damage.parts.0.0"] {
	text-align: right
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group input[type="text"]:hover,
.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group select:hover,
.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group button:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group input[type="text"]:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group select:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group button:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group select:focus {
	border: none; 
  box-shadow: 0 0 0 1px var(--default-primary-accent) inset;
}

.dnd.sheet.item .sheet-body .tab.details .form-group label.prepared,
.dnd.sheet.item .sheet-body .tab.details .form-group.recharge label{
	flex: unset !important;
	padding-right: 8px;
	margin: 0 .5rem 0 0;
	flex-direction: row-reverse;
}

.dnd.sheet.item .sheet-body .tab.details .form-group.recharge label{
	margin-right: 0;
}

.dnd.sheet.item .sheet-body .tab.details .form-group label.prepared input,
.dnd.sheet.item .sheet-body .tab.details .form-group.recharge label input {
	width: 20px;
	height: 20px;
	top: initial;
	margin: 0 4px 0 0;
}

.dnd.sheet.item .sheet-body .tab.details .form-group input:disabled {
	background: transparent;
	color: rgba(0,0,0,.7);
}

.dnd.sheet.item .sheet-body .tab.details .form-group input[name="data.save.dc"] {
	text-align: center;
	flex: 0 0 30px; 
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group input:disabled:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group input:disabled:hover {
	border: none !important;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group .checkbox input,
.dnd.sheet.item .sheet-body .tab.details .form-group .checkbox input {
	position: static;
	margin: 0;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group .checkbox input::after,
.dnd.sheet.item .sheet-body .tab.details .form-group .checkbox input::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: #D8D7D1;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group .checkbox input:checked::after,
.dnd.sheet.item .sheet-body .tab.details .form-group .checkbox input:checked::after {
	display: none;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group label,
.dnd.sheet.item .sheet-body .tab.dynamiceffects .form-group label,
.dnd.sheet.item .sheet-body .tab.details .form-group label {
	margin-left: .25rem;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group select,
.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group input[type="text"],
.dnd.sheet.item .sheet-body .tab.details .form-group select,
.dnd.sheet.item .sheet-body .tab.details .form-group input[type="text"] {
	background: rgba(255,255,255, .3);
	border: none;
}

.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group input[type="text"]:hover,
.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group select:hover,
.dnd.sheet.item .sheet-body .tab.item-betterRolls .form-group button:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group input[type="text"]:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group select:hover,
.dnd.sheet.item .sheet-body .tab.details .form-group button:hover {
	background: rgba(255,255,255, .5);
}

.dnd.sheet.item .sheet-body input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid var(--default-tertiary-color); 
  box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
  border-radius: 3px;
  background-image: url(../images/check-default.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.dnd.sheet.item .sheet-body label input[type="checkbox"] {
  border: none;
  box-shadow: none;
  position: relative;
}

.dnd.sheet.item .sheet-body input[type="checkbox"]:checked {
	background-color: rgba(0,255,0,.3);
  background-image: url(../images/check-default-checked.svg);
}

.dnd.sheet.item .sheet-body label input[type="checkbox"]:checked {
  background-color: transparent;
}

.dnd.sheet.item h4.damage-header {
	margin: .5rem 0 0 .5rem;
}

.dnd.sheet.item .damage-control {
	margin: 0 .5rem;
	min-width: auto;
	width: auto;
	text-align: center;
}

.dnd.sheet.item .damage-header .damage-control {

}

.dnd.sheet.item .damage-header .damage-control::after {
	display: inline-block;
	content: 'Add Formula';
	margin-left: .25rem;
  font-size: 12px;
}

.dnd.sheet.item .damage-parts li {
	margin-top: 4px;
}

.dnd.sheet.item .damage-parts li:first-child {
	margin-top: 0;
}

/* actor flags */

#actor-flags.app.dnd .window-content {
	padding: 0;
}

#actor-flags.app.dnd .window-content form {
	padding: 1rem 1rem 1rem 1rem;
}

#actor-flags.app.dnd .notes {
	margin: 0;
}

#actor-flags.app.dnd .form-header {
	margin: 1rem 0;
	border: none;
}

#actor-flags.app.dnd .form-group {
	margin: 4px 0;
	padding: .5rem;
	background: rgba(0,0,0,.1);
	border-radius: 5px;
}

#actor-flags.app.dnd .form-group label {
	line-height: 1.5;
	padding-top: 1px;
}

#actor-flags.app.dnd .form-group input[type="text"] {
	background: rgba(255,255,255,.3);
}

#actor-flags.app.dnd .form-group input[type="checkbox"] {
	margin: 0;
	cursor: pointer;
}