:root {
	--default-primary-color: rgba(0,0,0,.87);
	--default-secondary-color: rgba(0,0,0,.65);
	--default-tertiary-color: rgba(0,0,0,.4);
	--default-light-color: rgba(0,0,0,.2);
	--default-faint-color: rgba(0,0,0,.075);
	--default-primary-accent: #ff6400;
	--default-secondary-accent: rgba(210,0,255,.1);
}

/* font settings */

.tidy5e-sheet h1,
.tidy5e-sheet h2,
.tidy5e-sheet h3,
.tidy5e-sheet h4.attribute-name {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-weight: 700;
	/*font-family: "Nodesto", "Signika", serif;*/
	margin: 0;
	padding: 0;
	border: none;
}

.tidy5e.sheet.actor .ability-scores {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	/*font-family: "Nodesto", "Signika", serif;*/
}

.tidy5e.sheet.actor .ability-scores h4,
.tidy5e.sheet.actor .ability-scores input,
.tidy5e.sheet.actor .ability-scores span {
	font-weight: 700;
}

.tidy5e-navigation {
	font-family: "Signika", sans-serif;
}

.tidy5e.sheet.actor .header-attributes .value {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-weight: 700;
	/*font-family: "Nodesto", "Signika", serif;*/
	font-size: 24px;
	margin: 6px 0 2px 0;
}

.tidy5e.sheet.actor .header-attributes .ac-display {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-weight: 700;
	/*font-family: "Nodesto", "Signika", serif;*/
	height: 40px;
  font-size: 44px;
  padding-top: 4px;
  margin: 4px auto;
}

.tidy5e.sheet.actor .header-attributes .value-footer{
	font-family: "Signika", sans-serif;
	height: 18px;
	font-size: 12px;
	text-align: center;
}

.tidy5e.sheet.actor ul.attributes li.resource .attribute-header label.checkbox {
  font-family: "Signika", sans-serif;
}

.tidy5e.sheet.actor .inventory-filters h3,
.tidy5e.sheet.actor .inventory-filters .filter-title {
  font-family: "Signika", sans-serif;
  color: #4b4a44;
  font-size: 13px;
  margin-left: 0;
}

.tidy5e.sheet.actor .inventory-filters .tidy5e-delete-lock {
	display: block;
  font-family: "Signika", sans-serif;
  color: #4b4a44;
  flex: 0 0 1px;
  white-space: nowrap;
}

.tidy5e.sheet.actor .spellcasting-ability h3 {
	font-family: "Signika", sans-serif;
	font-size: 12px;
	font-weight: 700;
  flex: 0 0 1px;
  margin-right: 4px;
}

.tidy5e.sheet.actor .spellcasting-ability h3.spell-dc {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-weight: 700;
	/*font-family: "Nodesto", "Signika", serif;*/
	font-size: 24px;
  text-align: left;
}

.tidy5e.sheet.actor .inventory-list .inventory-header,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header {
	font-family: "Signika", sans-serif;
}

.tidy5e.sheet.actor .inventory-list .inventory-header h3 {
	font-family: "Signika", sans-serif;
}

.tidy5e.sheet.actor ul.attributes li.attribute {
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	/*font-family: "Nodesto", "Signika", serif;*/
}

.tidy5e.sheet.actor ul.attributes li.attribute input,
.tidy5e.sheet.actor ul.attributes li.attribute h4 {
	font-weight: 700;
}


/* sheet settings */

.tidy5e.sheet [contenteditable=true] {
	border: none;
	outline: none; 
	display: inline-block;
	border-radius: 3px;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
}

.tidy5e.sheet [contenteditable=true]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--default-tertiary-color);
}

.tidy5e.dnd.sheet.actor {
	min-width: 740px;
	height: 720px;
	min-height: 210px;
}

.tidy5e.sheet .window-content {
	padding: 0;
	margin: 0;
}

.tidy5e.sheet a:hover {
	text-shadow: none;
}

.tidy5e.sheet.actor .rollable:hover {
	text-shadow: none;
  color: var(--default-primary-accent);
}


/* flex class */
.tidy5e.sheet.actor .flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tidy5e-sheet {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden; 
}

.tidy5e.sheet img,
.tidy5e.sheet svg {
	vertical-align: middle;
	border: none;
	border-radius: 0;
}

.tidy5e.sheet input {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 3px;
	background: transparent;
	transition: background .3s ease, border-color .3s ease;
}

/* pointer styles */
.tidy5e.sheet input[type="checkbox"],
.tidy5e.sheet button,
.tidy5e.sheet select {
	cursor: pointer;
	box-shadow: none;
}
 
.tidy5e.sheet [contenteditable=true],
.tidy5e.sheet input[type="text"]{
	border: none;
	box-shadow: 0px 0px 0 3px transparent inset;
	transition: box-shadow .3s ease;
}

.tidy5e.sheet [contenteditable=true]:hover,
.tidy5e.sheet [contenteditable=true]:focus,
.tidy5e.sheet input[type="text"]:hover,
.tidy5e.sheet input[type="text"]:focus {
	border: none;
	background: none;
	/*border-color: var(--default-primary-accent);*/
	box-shadow: 0px 0px 0px 1px var(--default-primary-accent) inset;
}

.tidy5e.sheet.actor input[type="text"]::placeholder,
.tidy5e.dnd input[type="text"]::placeholder {
  color: var(--default-tertiary-color);
}

.tidy5e.dnd input[type="text"] {
  color: var(--default-primary-color);
}


.tidy5e.sheet button:hover,
.tidy5e.sheet select:hover {
	background: var(--default-faint-color);
}

.tidy5e.sheet.actor p,
.tidy5e.sheet.actor li {
	margin: 0;
	padding: 0;
}

/*.tidy5e.sheet.actor ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
*/

.tidy5e.sheet .character-details ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* #### Sheet Navigation #### */

.tidy5e-navigation .item {
	padding: 5px 1rem 0 1rem;
	background: rgba(255,255,255,.2);
	border: 1px solid transparent;
	border-bottom: 1px solid var(--default-light-color);
	text-align: left;
	height: 26px;
	flex: 1 1 auto;
}

.tidy5e-navigation .item:hover {
	color: var(--default-primary-accent);
}

.tidy5e-navigation .item.active {
	background: transparent;
	border: 1px solid var(--default-light-color);
	border-bottom-color: transparent;
	font-weight: 700;
	cursor: default;
	text-shadow: none;
}

.tidy5e-navigation .item.active:hover {
	color: inherit;
}

.tidy5e-navigation .item:first-child.active {
	border-left-color: transparent;
}

.tidy5e-navigation .item:last-child.active {
	border-right-color: transparent;
}

/* #### Sheet Header #### */

.tidy5e-header {
	padding: 1rem;
	background: rgba(255,255,255,.2);
}

/* Portrait, Death Saves, Resting and Inspiration */

/* Portrait */

.tidy5e.sheet.actor .profile {
	width: 150px;
	height: 150px;
	position: relative;
}

.tidy5e.sheet.actor .portrait {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
	border: 1px solid rgba(0,0,0,.5);
	position: relative;
	mix-blend-mode: multiply;
	z-index: 1;
}

.tidy5e.sheet.actor .limited .portrait {
	mix-blend-mode: normal;
}

.tidy5e.sheet.actor .profile.disable-hp-overlay .portrait {
	mix-blend-mode: initial;
}

.tidy5e.sheet.actor .roundPortrait .portrait {
	border-radius: 50%;
}

.tidy5e.sheet.actor .portrait img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

/* Death Saves and HP-Overlay */

.tidy5e.sheet.actor .death-saves,
.tidy5e.sheet.actor .profile .hp-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.tidy5e.sheet.actor .profile.disable-hp-overlay .hp-overlay {
	display: none;
}

.tidy5e.sheet.actor .roundPortrait .death-saves,
.tidy5e.sheet.actor .profile.roundPortrait  .hp-overlay {
	border-radius: 50%;
}

.tidy5e.sheet.actor .death-saves {
	display: none;
	z-index: 20;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0 5px 1px #222;
}

.tidy5e.sheet.actor .profile.hp-0-0 .death-saves,
.tidy5e.sheet.actor .profile:not(.deathfailure-0):not(.deathfailure-) .death-saves, 
.tidy5e.sheet.actor .profile:not(.deathsuccess-0):not(.deathsuccess-) .death-saves {
	display: flex;
}

.tidy5e.sheet.actor .profile.disable-hp-overlay .counter-value,
.tidy5e.sheet.actor .profile:not(.deathfailure-0):not(.hp-0-0) .counter-value, 
.tidy5e.sheet.actor .profile:not(.deathsuccess-0):not(.hp-0-0) .counter-value {
	background: rgba(255,0,0,.3);
	padding: 0 .5rem;
	border-radius: 5px;
}

.tidy5e.sheet.actor .profile.disable-hp-overlay .counter-value,
.tidy5e.sheet.actor .profile.disable-hp-overlay:not(.deathfailure-0):not(.hp-0-0) .counter-value, 
.tidy5e.sheet.actor .profile.disable-hp-overlay:not(.deathsuccess-0):not(.hp-0-0) .counter-value {
	background: rgba(255,0,0,.5);
}

.tidy5e.sheet.actor .death-saves .counter-value {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.tidy5e.sheet.actor .death-saves .counter-value input {
	color: #fff;
  font-weight: 700;
  font-size: 16px;
  height: 19px;
  padding: 5px 4px 4px 4px;
  min-width: unset;
  text-align: center;
  width: 18px;
}

.tidy5e.sheet.actor .death-saves .counter-value input:hover {
	border-color: #fff;
}

.tidy5e.sheet.actor .profile .hp-overlay {
	top: auto;
	bottom: 0;
	overflow: hidden;
	border-width: 0;
	border-style: solid;
	border-color: #fff;
}

.tidy5e.sheet.actor .death-save {
	position: relative;
	margin: 0 .25rem;
	color: rgba(255,255,255,.75);
	font-size: 30px;
	transition: color .3s ease;
}

.tidy5e.sheet.actor .death-save:hover {
	color: #fff !important;
}

/* Inspiration & Rest */
.tidy5e.sheet.actor .profile .inspiration.disabled,
.tidy5e.sheet.actor .profile:not(.deathfailure-0):not(.deathfailure-) .inspiration, 
.tidy5e.sheet.actor .profile:not(.deathsuccess-0):not(.deathsuccess-) .inspiration,
.tidy5e.sheet.actor .profile:not(.deathfailure-0):not(.deathfailure-) .rest-container, 
.tidy5e.sheet.actor .profile:not(.deathsuccess-0):not(.deathsuccess-) .rest-container, 
.tidy5e.sheet.actor .hp-0-0 .inspiration,
.tidy5e.sheet.actor .hp-0-0 .rest-container {
	display: none;
}

.tidy5e.sheet.actor .inspiration {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	z-index: 5;
}

.tidy5e.sheet.actor .inspiration input {
	display: none;
}

.tidy5e.sheet.actor .inspiration label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 0 5px 0;
	font-size: 26px;
	color: var(--default-tertiary-color);
	cursor: pointer;
	box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
	border: 1px solid rgba(0,0,0,.5);
	background: #ECE9DF;
}

.tidy5e.sheet.actor .roundPortrait .inspiration label {
	border-radius: 50%;
}

.tidy5e.sheet.actor .inspiration label i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
  text-align: center;
  line-height: 38px;
}

.tidy5e.sheet.actor .inspiration label:hover {
	color: rgba(255,255,255,.75);
	text-shadow: 0 0 5px rgba(118, 228, 255, .5);
}

.tidy5e.sheet.actor .inspiration input:checked + label {
	color: rgba(255,255,255,1);
	text-shadow: 0 0 10px rgba(118, 228, 255, 1);
	background: #999;
}

.tidy5e.sheet.actor .inspiration input:checked + label i {
	color: #FFFFFF;
  animation: glow 5s ease-in-out infinite alternate;
}

.tidy5e.sheet.actor .inspiration input:checked + label i.disable-animation {
  animation: none;
}

@keyframes glow {
	0% {
		transform: scale(1);
		text-shadow: 0 0 10px 6px #76E4FF;
	}
	25% {
		transform: scale(1.2);
		text-shadow: 0 0 12px 8px #76E4FF;
	}
	60% {
		transform: scale(1);
		text-shadow: 0 0 8px 4px #76E4FF;
	}
	100% {
		transform: scale(1.1);
		text-shadow: 0 0 11px 7px #76E4FF;
	}
}

.tidy5e.sheet.actor .rest-container {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
}

.tidy5e.sheet.actor .resting {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 0 5px 0 5px;
	transition: width .3s ease;
	background: #ECE9DF;
	display: flex;
	box-shadow:	0 0 10px rgba(0,0,0,.5) inset;
	border: 1px solid rgba(0,0,0,.5);
}

.tidy5e.sheet.actor .roundPortrait .resting {
	border-radius: 20px;
}

.tidy5e.sheet.actor .resting:hover {
	width: 110px;
}

.tidy5e.sheet.actor .resting-icon {
	flex: 0 0 38px; 
	display: flex;
	width: 38px;
	height: 38px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 20px;
	color: var(--default-tertiary-color);
}

.tidy5e.sheet.actor .resting .rest {
	flex: 0 0 35px; 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 35px;
	height: 38px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	color: var(--default-tertiary-color);
	padding: 0;
}

.tidy5e.sheet.actor .resting .rest i {
	transition: color .3s ease, transform .3s ease;	
}

.tidy5e.sheet.actor .resting .rest:hover i {
	color: rgba(0,0,0,.6);
	transform: scale(1.2);
}

/* Hover Notes */

.tidy5e.sheet.actor .note {
	display: none;
	position: absolute;
	left: 50%;
	bottom: calc(100% + .5rem );
	background: rgba(0,0,0,.9);
	color: #fff;
	font-size: 12px;
	padding: .5rem 1rem;
	border-radius: 5px;
	z-index: 50;
	transform: translateX(-50%);
	white-space: nowrap;
}

.tidy5e.sheet.actor .inspiration .note::after {
	content: '(0)';
	margin-left: .2rem;
}

.tidy5e.sheet.actor .inspiration input:checked ~ .note::after {
	content: '(1)';
	margin-left: .2rem;
}

.tidy5e.sheet.actor .has-note:hover .note {
	display: inline-block;
}

/* General Information */

.tidy5e.sheet.actor .character-details {
	margin-left: 1rem;
	flex: 1;
}

.tidy5e.sheet.actor .general-information {
	justify-content: space-between;
	padding-bottom: 2px;
}

.tidy5e.sheet.actor .char-name {
	flex: 1;
	margin-right: 8px;
  padding: 0 4px;
  font-size: 24px;
}

/* Level and Experience Information */

.tidy5e.sheet.actor .level-information {
	flex-direction: row-reverse;
}

.tidy5e.sheet.actor .level {
  padding: .1rem .3rem 0.05rem .3rem;
  border-radius: 3px;
	background: var(--default-faint-color);
  color: rgba(0,0,0,.6);
	font-size: 1.25rem;
}

.tidy5e.sheet.actor .experience {
	margin-bottom: 1px;
}

.tidy5e.sheet.actor input.current-xp {
	width: calc(7.5ch + .3rem);
	height: 16px;
	text-align: right;
	padding: 2px .15rem 0 .15rem;
	margin-bottom: -1px; 
}

.tidy5e.sheet.actor .max-xp {
	padding-top: 3px;
}

.tidy5e.sheet.actor .max-xp::before {
	content: '/';
	margin-right: .15rem;
}

.tidy5e.sheet.actor .xp-tracker {
	margin-right: .5rem;
}

.tidy5e.sheet.actor .noxp .xp-tracker {
	display: none;
}

.tidy5e.sheet.actor .xp-bar-total {
	width: 100%;
	height: 5px;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 2px;
	background: var(--default-light-color);
	position: relative;
}

.tidy5e.sheet.actor .xp-bar-current {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	background: #5EE192;
	transition: width .3s ease;
}

/* Class List */

.tidy5e.sheet.actor .class-list {
	margin: 0;
	padding: 0;
	color: rgba(0,0,0,.6);
	border-radius: 3px;
	margin-left: 4px;
	font-size: 11px;
}

.tidy5e.sheet.actor .class-list li {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	line-height: 11px;
	margin: 2px 0;
}

.tidy5e.sheet.actor .class-list li:first-child {
	margin-top: 0;
}

.tidy5e.sheet.actor .class-list li:last-child {
	margin-bottom: 0;
}

.tidy5e.sheet.actor .class-list li:first-child::before {
	content: none;
}

.tidy5e.sheet.actor .class-list .subclass-info span {
	display: block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  background: rgba(0,0,0,.4);
  border-radius: 3px;
  color: rgba(255,255,255,.6);
  margin-right: 2px;
}

.tidy5e.sheet.actor .class-list .subclass-info .note {
	left: auto;
	right: calc(100% + 4px);
	top: 50%;
	bottom: auto;
	transform: translate(0,-50%);
}

/* Origin Summary */

.tidy5e.sheet.actor .origin-summary {
	justify-content: space-between;
	border-bottom: 1px solid var(--default-light-color);
	border-top: 1px solid var(--default-light-color);
	font-size: 13px;
	padding: .15rem 0;
	white-space: nowrap;
}

.tidy5e.sheet.actor .origin-summary li {
	flex: 1;
	margin-right: .5rem;
	display: flex;
}

.tidy5e.sheet.actor .origin-summary li span {
	margin-left: 11px;
	position: relative;
}

.tidy5e.sheet.actor .origin-summary li span::after {
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: var(--default-primary-color);
	position: absolute;
	top: 50%;
	left: -7px;
	transform: translateY(-50%);
}

.tidy5e.sheet.actor .origin-summary li span:first-child {
	margin-left: 4px;
}

.tidy5e.sheet.actor .origin-summary li span:first-child::after {
	content: none;
}

.tidy5e.sheet.actor .origin-summary .proficiency {
	margin: 0;
	font-weight: 700;
	text-align: center;
	padding: 0 4px 0 0;
	justify-content: flex-end;
}

/* Size Select */

.tidy5e.sheet.actor .actor-size-select,
.tidy5e.sheet.actor .actor-size-select ul {
	margin: 0;
	list-style: none;
}

.tidy5e.sheet.actor .actor-size-select li {
	position: relative;
	margin: 0;
	z-index: 1;
}

.tidy5e.sheet.actor .actor-size-select ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.tidy5e.sheet.actor .actor-size-select .size-list {
	background: rgba(0,0,0,.6);
	color: #efefef;
	border-radius: 3px;
	overflow: hidden;
}

.tidy5e.sheet.actor .actor-size-select .size-list li {
	padding: 2px 4px;
}

.tidy5e.sheet.actor .actor-size-select .size-list li:hover {
	background: rgba(0,0,0,.8);
}

.tidy5e.sheet.actor .actor-size-select.active ul {
	display: block;
}

.tidy5e.sheet.actor .actor-size-select.active .current {
	background: var(--default-primary-accent);
}

.tidy5e.sheet.actor .actor-size-select .size-label:hover,
.tidy5e.sheet.actor .actor-size-select.active .size-label {
	color: var(--default-primary-accent);
	cursor: pointer;
}

/* Header Attributes */

.tidy5e.sheet.actor .header-attributes {
	margin-top: 10px;
}

.tidy5e.sheet.actor .header-attribute {
	height: 76px;
	flex: 1 1 130px;
	text-align: center;
	border-left: 1px solid var(--default-faint-color);
	padding: 0 5px;
}

.tidy5e.sheet.actor .attribute-name {
	font-size: 20px;
	line-height: 20px;
	height: 24px;
	position: relative;
	margin: 0;
	white-space: nowrap;
}

.tidy5e.sheet.actor .attribute-name input {
	margin: 0;
}

.tidy5e.sheet.actor .attribute-name::after {
	display: block;
	content: '';
	height: 0;
	width: 60%;
	border-bottom: 1px solid var(--default-faint-color);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.tidy5e.sheet.actor .header-attributes li:first-child {
	border: none;
}

.tidy5e.sheet.actor .header-attributes .value span,
.tidy5e.sheet.actor .header-attributes .value p,
.tidy5e.sheet.actor .header-attributes .value input {
	height: 22px;
	padding-top: 2px;
	font-weight: 700;
}

.tidy5e.sheet.actor .header-attributes .value span,
.tidy5e.sheet.actor .header-attributes .value p {
	line-height: 20px;
}

.tidy5e.sheet.actor input.hp-min,
.tidy5e.sheet.actor input.temphp {
	text-align: right;
}

.tidy5e.sheet.actor input.hp-max,
.tidy5e.sheet.actor input.max-temphp {
	text-align: left;
}

.tidy5e.sheet.actor input.max-temphp {
	margin-left: .5rem;
}

.tidy5e.sheet.actor input.ini-mod {
	width: 5ch;
}

/* Sheet Body */

.tidy5e.sheet.actor .sheet-body {
	padding: 1.5rem .25rem 1rem 1rem;
}

.tidy5e.sheet .window-content .tab.attributes,
.tidy5e.sheet .window-content .tab.biography,
.tidy5e.sheet .window-content .tab.journal {
	padding-right: .75rem;
	overflow: auto;
}

.tidy5e.sheet .window-content .tab.attributes {
	align-items: flex-start;
}

/* Left Pane */

.tidy5e.sheet.actor .left-pane {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex: 0 0 300px;
}


/* Ability Scores */

.tidy5e.sheet.actor .ability-scores {
	display: flex;
  flex-direction: column;
  flex: 0 72px;
  border: 1px solid var(--default-faint-color);
  overflow: hidden;
  height: 326px;
  border: none;
  border-radius: 0;
}

.tidy5e.sheet.actor .ability-scores .ability {
	margin: 0;
	height: unset;
	flex: 1;
  text-align: center;
  position: relative;
  padding-bottom: 0;
  border: 1px solid var(--default-faint-color);
  border-bottom: none;
  display: flex;
  flex-direction: column;
}

.tidy5e.sheet.actor .ability-scores .ability:first-child {
	border-radius: 5px 5px 0 0;
}

.tidy5e.sheet.actor .ability-scores .ability:last-child {
  border-bottom: 1px solid var(--default-faint-color);
	border-radius: 0 0 5px 5px;
	margin-bottom: 0;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-name {
	border-top: 1px solid var(--default-faint-color);
	font-size: 16px;
	line-height: 15px;
	border-top: none;
	padding: 2px 0 1px 0;
	margin: 0;
}

.tidy5e.sheet.actor .ability-scores .ability:first-child .ability-name {
	border-top: none;
}

.tidy5e.sheet.actor .ability-scores .ability input.ability-score {
	height: 22px;
  padding-top: 2px;
	margin-top: 0;
	width: 24px;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-values {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-bottom: 1px;
}

.tidy5e.sheet.actor .ability-scores .ability input.ability-score:hover + .ability-modifiers {
    visibility: visible;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: initial;
	position: static;
  font-size: 10px;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-mod,
.tidy5e.sheet.actor .ability-scores .ability .ability-save {
	flex: 1;
	text-align: center;
	font-size: 14px;
	opacity: .4;
	transition: opacity .3s ease;
	cursor: pointer;
}

.tidy5e.sheet.actor .ability-scores .ability:hover .ability-mod,
.tidy5e.sheet.actor .ability-scores .ability:hover .ability-save {
	opacity: 1;
	text-shadow: none;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-mod:hover,
.tidy5e.sheet.actor .ability-scores .ability .ability-save:hover {
	color: var(--default-primary-accent);
}

.tidy5e.sheet.actor .ability-scores .ability .proficiency-toggle {
	font-size: 10px;
	line-height: 10px;
	opacity: .4;
	transition: opacity .3s ease;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
	line-height: 10px;
}

.tidy5e.sheet.actor .ability-scores .ability:hover .proficiency-toggle {
	opacity: 1;
}

/* Skill List */

.tidy5e.dnd.sheet.actor ul.skills-list {
  border: 1px solid var(--default-faint-color);
  border-radius: 5px;
  overflow: visible;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 220px;
  height: 326px;
  margin: 0 0 0 8px;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill {
  flex: 0 0 18px;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  padding: 3px 4px 1px 4px;
  height: 18px;
  flex-wrap: nowrap;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill:nth-child(even) {
	background: var(--default-faint-color);
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill h4 {
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-proficiency {
	font-size: 10px;
  /*line-height: 14px;*/
  line-height: 1;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-proficiency i {
	vertical-align: baseline;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-mod,
.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-passive {
	text-align: right;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-mod {
	flex: 0 0 20px;
}

.tidy5e.dnd.sheet.actor ul.skills-list li.skill .skill-ability {
  flex: 0 0 24px;
}

/* Center Pane */

.tidy5e.sheet.actor .center-pane {
	display: flex;
	flex-direction: column;
	overflow-y: initial;
	padding: 0;
	margin-left: 16px;
	height: auto;
}

/* Resources */

.tidy5e.sheet.actor .center-pane ul.attributes {
	margin: 0;
	border: 1px solid var(--default-faint-color);
	border-radius: 5px;
	flex: initial;
}

.tidy5e.sheet.actor .center-pane ul.attributes li.attribute {
	margin: 0 0 1px 0;
	padding: 1px 0 0 0;
	height: 46px;
	position: relative;
	border: none;
	border-radius: 0;
	border-left: 1px solid var(--default-faint-color);
	border-top: 1px solid var(--default-faint-color);
	flex: 1 0 33%;
}

.tidy5e.sheet.actor .center-pane ul.attributes li.attribute:nth-child(3n+1) {
	border-left: 0; 
}

.tidy5e.sheet.actor .center-pane ul.attributes li.attribute:nth-child(-n+3) {
	border-top: 0;
	margin-bottom: 0; 
	padding-top: 0;
}

/* Resource Restoration Menu */

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 10;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header .res-options {
	position: relative;
  right: 2px;
  bottom: 0;
  font-size: 12px;
  color: rgba(0,0,0,.5);
  transition: color .3s ease;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header .res-rest {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header:hover { 
	width: 100%;
	height: 100%;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header:hover ~ * { 
	opacity: 0;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header:hover .res-rest {
	display: block;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header .res-rest h4 {
	margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #555;
}

.tidy5e.sheet.actor ul.attributes li.resource .attribute-header label.checkbox {
	border: 1px solid var(--default-light-color);
  padding: 3px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  transition: background .3s ease;
  position: relative;
  bottom: 3px;
}

.tidy5e.sheet.actor ul.attributes li.resource .attribute-header label.checkbox:hover {
	background: var(--default-light-color);
}

.tidy5e.sheet.actor ul.attributes li.resource .attribute-header input:checked + label.checkbox {
	background: rgba(0,0,0,.5);
	color: #efefef;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header:hover .res-options {
	color: var(--default-secondary-color);
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-header input {
	display: none;
}

/* Resource Managment */

.tidy5e.sheet.actor .attributes .resource .attribute-name {
	margin: 0;
  font-size: 1rem;
  height: 20px;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-value {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	line-height: 25px;
}

.tidy5e.sheet.actor .attributes .resource .attribute-name input[type="text"] {
	height: 20px;
  margin: 0;
  line-height: 24px;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
	font-size: 22px;
	max-width: 3.5ch;
  height: 22px;
  padding-top: 2px;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
	font-size: 21px;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-value .res-value {
	text-align: right;
}

.tidy5e.sheet.actor ul.attributes li.attribute .attribute-value .res-max {
	text-align: left;
}

/* Character Traits */
.tidy5e.sheet.actor .traits {
	border: 1px solid var(--default-faint-color);
	border-radius: 5px 5px 0 0;
	overflow: visible;
	margin: 8px 0 17px 0;
	/*width: 280px;*/
	width: 100%;
	position: relative;
}

.tidy5e.sheet.actor .traits .form-group,
.tidy5e.sheet.actor .traits .form-group-stacked {
	margin: 0; 
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  padding: 0 4px;
}

.tidy5e.sheet.actor .traits .multiple {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tidy5e.sheet.actor .traits .multiple > * {
	flex: unset;
}

.tidy5e.sheet.actor .traits .form-group:first-child  {
	line-height: 14px;
	height: auto;
	border-radius: 5px 5px 0 0;
}

.tidy5e.sheet.actor .traits .form-group:nth-child(odd) {
	background: none;
}

.tidy5e.sheet.actor .traits .form-group.even {
	background: var(--default-faint-color);
}

.tidy5e.sheet.actor .traits:not(.expanded):not(.always-visible) .form-group.trait-hidden {
	display: none;
}

.tidy5e.sheet.actor .traits .form-group:first-child label {
	padding-top: 1px;
}

.tidy5e.sheet.actor .traits .form-group:last-child {
	margin: 0;
}

.tidy5e.sheet.actor .traits .form-group article {
  padding: 2px 0;
}

.tidy5e.sheet .traits .traits-list {
  line-height: 14px;
  margin: 0 .5rem 0 0;
}

.tidy5e.sheet.actor .traits label {
	display: inline;
  line-height: 14px;
  font-weight: 700;
  margin: 0;
  font-size: 12px;
  color: #191813;
	float: none;
}

.tidy5e.sheet.actor .traits .multiple label {
	margin-right: .5rem;
}

.tidy5e.sheet.actor .traits .senses label {
	position: absolute;
}

.tidy5e.sheet.actor .traits .senses div[contenteditable="true"] {	
  font-size: 12px;
  line-height: 14px;
  padding-top: 1px;
  width: 100%;
}

.tidy5e.sheet.actor .traits .senses div[contenteditable="true"]:before { 
  content: attr(data-label);
  line-height: 14px;
  font-weight: 700;
  margin: 0 4px 0 0;
  font-size: 12px;
  color: #191813;
}

.tidy5e.sheet.actor .traits .tag {
  display: inline;
  font-size: 12px;
  line-height: 14px;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: #191813;
}

.tidy5e.sheet.actor .traits .tag::after {
	content: ',';
}

.tidy5e.sheet.actor .traits .tag:last-child::after {
	content: none;
}

.tidy5e.sheet .traits .trait-selector {
  flex: 0 0 10px;
  color: #999;
  margin-left: 4px;
	font-size: 12px;
  line-height: 14px;
	padding: 2px 0 0 0;
}

.tidy5e.sheet.actor .traits:not(.expanded):not(.always-visible) .trait-selector {
	display: none;
}

.tidy5e.sheet .traits .trait-selector:hover i.fas,
.tidy5e.sheet.actor .traits i.fas:hover {
	color: var(--default-secondary-color);
	text-shadow: none;
}

.tidy5e.sheet.actor .traits i.fas {
  float: none;
  margin-right: 0;
  text-align: center;
  color: #7a7971;
  line-height: 14px;
  vertical-align: bottom;
}

.tidy5e.sheet.actor .traits .toggle-traits {
	position: absolute;
	display: inline-block;
	top: calc(100% + 1px);
	left: -1px;
	border: 1px solid var(--default-faint-color);
	border-top: 0;
	border-radius: 0 0 3px 3px;
	padding: 2px 4px;
	width: auto;
	font-size: 10px;
  color: var(--default-secondary-color);
  cursor: pointer;
}

.tidy5e.sheet.actor .traits.always-visible .toggle-traits {
	display: none;
}

.tidy5e.sheet.actor .traits .toggle-traits::before {
  content: attr(data-show-traits);
}

.tidy5e.sheet.actor .traits.expanded .toggle-traits::before {
  content: attr(data-hide-traits);
}

.tidy5e.sheet.actor .traits .toggle-traits:hover {
	color: var(--default-primary-color);
}

.tidy5e.sheet.actor .traits .configure-flags {
  flex: 0;
	position: absolute;
	display: inline-block;
	top: calc(100% + 1px);
	right: -1px;
	border: 1px solid var(--default-faint-color);
	border-top: 0;
	border-radius: 0 0 3px 3px;
	padding: 2px 4px;
	width: auto;
	font-size: 10px;
  color: var(--default-secondary-color);
}

.tidy5e.sheet.actor .traits .configure-flags i.fas {
	line-height: 10px;
  vertical-align: baseline;
  color: var(--default-tertiary-color);
}

.tidy5e.sheet.actor .traits .configure-flags:hover,
.tidy5e.sheet.actor .traits .configure-flags:hover i.fas {
	color: var(--default-primary-color);
}

/* Favorites */

.tidy5e.sheet.actor .favorites {
	/*border: 1px solid var(--default-faint-color);*/
	border-radius: 0;
	overflow: hidden; 
	margin-top: 2px;
}

.tidy5e.sheet.actor .item[data-tab="attributes"] i {
	margin-right: 4px;
	color: var(--default-tertiary-color);
	position: relative;
	top: 1px;
}

.tidy5e.sheet.actor .favorites i {
	vertical-align: middle;
}

.tidy5e.sheet.actor .favorites .inventory-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.tidy5e.sheet.actor .favorites .inventory-list ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tidy5e.sheet.actor .favorites .inventory-list .item {
	line-height: 23px;
	border-radius: 0;
	margin: 0;
	margin: 1px 0 0 0;
	overflow: hidden;
}

.tidy5e.sheet.actor .favorites .inventory-list .item .item-name .item-image {
	width: 23px;
	height: 23px;
  flex: 0 0 23px;
	border-radius: 0;
  background-size: cover;
  margin-right: 4px;
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header h3 {
	font-size: 12px;
}

.tidy5e.sheet.actor .inventory-list .item .item-name h4 {
	display: inline-block;
	flex: initial;
	cursor: pointer;
	line-height: 28px;
	padding-top: 2px;
	text-overflow: ellipsis;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-name h4 {
	font-size: 12px;
	line-height: 21px;
}

.tidy5e.sheet.actor .inventory-list .item-name h4 .info-icon {
	font-size: 14px;
 	color: var(--default-light-color);
 	transition: color .3s ease;
 	position: relative;
 	top: -1px;
}

.tidy5e.sheet.actor .inventory-list .item-name h4:hover .info-icon {
 	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .inventory-list .item-quantity {
	display: flex;
	margin-left: 4px;
	text-align: center;
	opacity: 0;
	transition: opacity .3s ease;
	flex: initial;
	line-height: 28px;
	padding-top: 2px;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-quantity {
	font-size: 12px;
	line-height: 21px;
}

.tidy5e.sheet.actor .inventory-list .item-quantity:focus-within,
.tidy5e.sheet.actor .inventory-list .item .item-quantity:hover,
.tidy5e.sheet.actor .inventory-list .item-quantity.isStack {
	opacity: 1;
}

.tidy5e.sheet.actor .inventory-list .item-quantity input {
	width: 23px;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-quantity input {
	height: 21px;
}

.tidy5e.sheet.actor .favorites .inventory-list .state-display {
	flex: 0 0 16px;
	margin: 0 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0,0,0,.6);
	height: 23px;
}

.tidy5e.sheet.actor .favorites .inventory-list .state-display a {
	color: rgba(0,0,0,.25);
	font-size: 12px; 
}

.tidy5e.sheet.actor .favorites .inventory-list .state-display a:hover,
.tidy5e.sheet.actor .favorites .inventory-list .state-display a.active {
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header,
.tidy5e.sheet.actor .favorites .inventory-list .inventory-header:first-child {
	background: transparent;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 37px;
	margin: 1px 0 0 0;
	line-height: 20px;
  color: var(--default-tertiary-color);
}

.tidy5e.sheet.actor .favorites .inventory-list:first-child .inventory-header {
	padding-top: 2px;
	margin-top: 0;
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots,
.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots input {
  color: var(--default-tertiary-color);
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:hover,
.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:hover input,
.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:focus-within,
.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:focus-within input {
  color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots .spell-max {
	text-align: left;
}


.tidy5e.sheet.actor .favorites .inventory-list .item .item-charges {
	flex: 0 0 55px;
}

.tidy5e.sheet.actor .favorites .inventory-list .inventory-header .item-charges {
	flex: 0 0 55px;
}

.tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .spell-comps,
.tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .item-action,
.tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .item-charges {
	font-size: 12px;
	line-height: 21px;
	text-overflow: ellipsis;
}


.tidy5e.sheet.actor .inventory-list .item .item-charges a.addCharges {
	display: block;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: opacity .3s ease;
}

.tidy5e.sheet.actor .inventory-list .item .item-charges:hover a.addCharges {
	opacity: 1;
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .favorites .inventory-list .item-action {
	flex: 0 0 70px;
	padding: 0 8px;
}

.tidy5e.sheet.actor .inventory-list .item .item-charges .uses-max,
.tidy5e.sheet.actor .inventory-list .item .spell-slots .spell-max {
	text-align: left;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-controls {
	flex: 0 0 38px;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-controls a {
	line-height: 21px;
	font-size: 12px;
	padding-top: 1px;
}

.tidy5e.sheet.actor .favorites .inventory-list .item-controls a:hover {
	color: rgba(0,0,0,.6);
}

/* Exhaustion Portrait */

.tidy5e.sheet.actor .profile .exhaustion-container.disabled,
.tidy5e.sheet.actor .profile:not(.deathfailure-0):not(.deathfailure-) .exhaustion-container, 
.tidy5e.sheet.actor .profile:not(.deathsuccess-0):not(.deathsuccess-) .exhaustion-container, 
.tidy5e.sheet.actor .hp-0-0 .exhaustion-container {
	display: none;
}

.tidy5e.sheet.actor .exhaustion-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	z-index: 10;
}

.tidy5e.sheet.actor .exhaustion-container .level-display {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	font-size: 14px;
	position: absolute;
  background: #ECE9DF;
  box-shadow: 0 0 8px rgba(0,0,0,.5) inset;
  border: 1px solid rgba(0,0,0,.5);
	color: rgba(0,0,0,.5);
	top: -4px;
	left: -4px;
	border-radius: 50%;
	z-index: 1;
	font-weight: 700;
}

.tidy5e.sheet.actor .exhaustion-container .note {
	top: calc(100% + .5rem);
	left: 0;
	bottom: auto;
	transform: translate(0,0);
}

.tidy5e.sheet.actor .exhaustion-wrap {
	height: 40px;
	width: 40px;
	overflow: hidden; 
  border-radius: 5px 0 5px 0;
  transition: width .3s ease;
  background: #ECE9DF;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
  border: 1px solid rgba(0,0,0,.5);
}

.tidy5e.sheet.actor .roundPortrait .exhaustion-wrap {
	border-radius: 20px;
}

.tidy5e.sheet.actor .exhaustion-container:hover .exhaustion-wrap {
	width: 215px;
}

.tidy5e.sheet.actor .exhaustion-wrap .exhaustion-icon {
	display: block;
	flex: 0 0 38px; 
	width: 38px;
	height: 38px;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	position: relative;
  color: var(--default-tertiary-color);
}

.tidy5e.sheet.actor .exhaustion-wrap .exhaust-level {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 175px;
	flex: 1;
}

.tidy5e.sheet.actor .exhaustion-wrap .exhaust-level li {
	flex: 0 0 25px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background: var(--default-light-color);
}

.tidy5e.sheet.actor .exhaustion-wrap .exhaust-level li:hover {
	background: rgba(0,0,0,.4) !important;
	color: #191813;
}

/* exhaustion effect note */

.tidy5e.sheet.actor .exhaustion-container .note p {
	color: rgba(255,255,255,1);
	display: block;
}

.tidy5e.sheet.actor .exhaustion-container .exhaustion-icon i {
	display: none;
}

.tidy5e.sheet.actor .profile.autohide .exhaustion-container.level-0,
.tidy5e.sheet.actor .profile.autohide .inspiration.inspiration-0 {
	display: none;
}

.tidy5e.sheet.actor .profile.autohide:hover .exhaustion-container.level-0,
.tidy5e.sheet.actor .profile.autohide:hover .inspiration.inspiration-0 {
	display: block;
}

.tidy5e.sheet.actor .exhaustion-container.level-0 .note p:not(.lvl-0),
.tidy5e.sheet.actor .exhaustion-container.level- .note p:not(.lvl-0),
.tidy5e.sheet.actor .exhaustion-container.level-1 .note p:not(.lvl-1),
.tidy5e.sheet.actor .exhaustion-container.level-2 .note p:not(.lvl-2),
.tidy5e.sheet.actor .exhaustion-container.level-3 .note p:not(.lvl-3),
.tidy5e.sheet.actor .exhaustion-container.level-4 .note p:not(.lvl-4),
.tidy5e.sheet.actor .exhaustion-container.level-5 .note p:not(.lvl-5),
.tidy5e.sheet.actor .exhaustion-container.level-6 .note p:not(.lvl-6) {
	color: rgba(255,255,255,.4);
	display: none;
}

/* exhaustion color coding */

.tidy5e.sheet.actor .exhaustion-container.level-0 .exhaust-level li:nth-of-type(1) {
	background: transparent;
}

.tidy5e.sheet.actor .exhaustion-container.level-0 .exhaustion-icon i:nth-child(1) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0) .exhaustion-icon,
.tidy5e.sheet.actor .exhaustion-container.level-1 .exhaust-level li:nth-of-type(-n+2),
.tidy5e.sheet.actor .exhaustion-container.level-2 .exhaust-level li:nth-of-type(-n+3) {
	background: rgba(255,255,0,.5);
}

.tidy5e.sheet.actor .exhaustion-container.level-1 .exhaustion-icon i:nth-child(2) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container.level-2 .exhaustion-icon i:nth-child(3) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .exhaustion-icon,
.tidy5e.sheet.actor .exhaustion-container.level-3 .exhaust-level li:nth-of-type(-n+4),
.tidy5e.sheet.actor .exhaustion-container.level-4 .exhaust-level li:nth-of-type(-n+5) {
	background: rgba(255,120,0,.5);
}

.tidy5e.sheet.actor .exhaustion-container.level-3 .exhaustion-icon i:nth-child(4) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container.level-4 .exhaustion-icon i:nth-child(5) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4) .exhaustion-icon,
.tidy5e.sheet.actor .exhaustion-container.level-5 .exhaust-level li:nth-of-type(-n+6),
.tidy5e.sheet.actor .exhaustion-container.level-6 .exhaust-level li:nth-of-type(-n+7) {
	background: rgba(255,0,0,.5);
}

.tidy5e.sheet.actor .exhaustion-container.level-5 .exhaustion-icon i:nth-child(6) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container.level-6 .exhaustion-icon i:nth-child(7) {
	display: inline-block;
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0) .level-display {
	background: rgb(255,255,0);
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2) .level-display {
	background: rgb(255,175,0);
}

.tidy5e.sheet.actor .exhaustion-container:not(.level-):not(.level-0):not(.level-1):not(.level-2):not(.level-3):not(.level-4) .level-display{
	background: rgb(255,100,0);
}

/* Inventory */

/* Filter */
.tidy5e.sheet.actor .inventory-filters,
.tidy5e.sheet.actor .inventory-filters.spellbook-filters {
  margin: 0 14px 1rem 0;
	flex: 0 0 20px;
}

.tidy5e.sheet.actor .inventory-filters {
	border-bottom: 1px solid var(--default-light-color);
}

.tidy5e.sheet .filter-list {
	max-width: initial;
}

.tidy5e.sheet .filter-list .filter-item {
  padding: 0 .5rem;
  margin: 0; 
  margin-left: 2px;
  flex: unset;
  cursor: pointer;
}

.tidy5e.sheet .filter-list .filter-item:hover {
	text-shadow: none;
}

/* Delete Protection */

.tidy5e-sheet.allow-delete .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle,
.tidy5e-sheet .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle:hover{
	background: rgba(255,0,0,.3);
}

.tidy5e-sheet .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 0 0 .25rem;
  padding: 4px 8px 2px 8px;
  background: var(--default-light-color);
  border-radius: 5px 5px 0 0;
  line-height: 12px;
  cursor: pointer;
}

.tidy5e-sheet .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle i {
  margin-right: .25rem;
}

.tidy5e-sheet.allow-delete .sheet-body .tidy5e-delete-disabled,
.tidy5e-sheet .sheet-body .tidy5e-delete-enabled,
.tidy5e-sheet .sheet-body .item-delete {
	display: none;
}

.tidy5e.sheet.actor .inventory-list .item-controls .item-delete {
	color: rgba(255,0,0,.6);
}

.tidy5e-sheet.allow-delete .sheet-body .item-delete,
.tidy5e-sheet.allow-delete .sheet-body .tidy5e-delete-enabled {
	display: block;
}

/* Currency */

.tidy5e.sheet.actor .inventory-currency {
  margin: 0rem 14px .5rem 0;
  padding-top: .5rem;
	flex: 0 0 30px;
	border-top: 2px solid rgb(0,0,0,.3);
}

.tidy5e.sheet.actor .inventory-currency .currency {
	list-style: none;
}

.tidy5e.sheet.actor .inventory-currency .currency-header {
	flex: 0 0 13px;
	text-align: center;
	align-items: center;
	margin-right: .5rem;
}

.tidy5e.sheet.actor .inventory-currency .currency-item {
  background: var(--default-faint-color);
  border-radius: 5px;
  padding: 0 .5rem 0 0;
  margin-right: .5rem;
  line-height: 30px;
}

.tidy5e.sheet.actor .inventory-currency .currency-item input {
	text-align: right;
	flex: 1;
	padding-left: .5rem;
}

.tidy5e.sheet.actor .inventory-currency .currency-item label {
	margin-left: .25rem;	
	flex: unset;
}

.tidy5e.sheet.actor .inventory-currency .currency-item.convert {
	margin-right: 0;
	padding: 0;
	flex: 0 0 1px;
	text-align: center;
	white-space: nowrap;
}

.tidy5e.sheet.actor .inventory-currency .currency-item.convert a {
	display: block;
	background: var(--default-tertiary-color);
	color: rgba(255,255,255,.6);
	border-radius: 5px;
	padding: 0 8px;
}

.tidy5e.sheet.actor .inventory-currency .currency-item.convert a:hover {
  background: rgba(0,0,0,.6);
}

/* Spellcasting Ability */

.tidy5e.sheet.actor .spellcasting-ability  {
  margin: 0rem 14px 0 0;
  padding-top: .5rem;
	flex: 0 0 30px;
	border-top: 2px solid rgb(0,0,0,.3);
	align-items: center;
}

.tidy5e.sheet.actor .spellcasting-ability select {
	margin: 0;
}

/* Inventory Items */

.tidy5e.sheet.actor .inventory-list {
	padding: 0 9px 1rem 0;
  overflow-y: scroll;
}

.tidy5e.sheet.actor .inventory-list .inventory-header,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header {
	margin: 0 0 .25rem 0;
	padding-top: .5rem;
	line-height: 20px;
	background: transparent;
	border: none; 
	border-top: 1px solid var(--default-faint-color);
}

.tidy5e.sheet.actor .inventory-list .inventory-header:first-child,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header:first-child { 
	padding-top: 0;
	border: none; 
}

.tidy5e.sheet.actor .inventory-list .inventory-header h3 {
	margin: 0;
	padding: 0;
}

.tidy5e.sheet.actor .inventory-list .inventory-header .item-detail,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail .slot-max-override i {
	color: var(--default-tertiary-color);
	border: none; 
}

.tidy5e.sheet.actor .inventory-list .spell-school {
	flex: 0 0 120px;
}

.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail.spell-slots {
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .inventory-list .inventory-header .item-detail i,
.tidy5e.sheet.actor .inventory-list .inventory-header .spell-detail svg,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail i {
	vertical-align: middle;
	color: rgba(0,0,0,.15);
}

.tidy5e.sheet.actor .inventory-list .item i {
	vertical-align: middle;
}

.tidy5e.sheet.actor .inventory-list .inventory-header .item-detail svg,
.tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail svg {
	height: 13px;
}

.tidy5e.sheet.actor .inventory-list p.notes {
	padding: .5rem;
}

.tidy5e.sheet.actor .inventory-list .item {
	padding: 0;
	line-height: 30px;
	background: var(--default-faint-color);
	border: none; 
	border-radius: 5px; 
	margin: 2px 0;
}

.tidy5e.sheet.actor .inventory-list .item-attuned {
	flex: 0 0 16px;
	width: 16px;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
	vertical-align: middle;
	margin: 7px 0;
	color: rgba(0,0,0,.6);
}

/* Equipped/Prepared Highlight */
.tidy5e.sheet.actor .inventory-list .item.attuned,
.tidy5e.sheet.actor .inventory-list .item.prepared,
.tidy5e.sheet.actor .inventory-list .item.alwaysPrepared {
	background: var(--default-secondary-accent);
}

.tidy5e.sheet.actor .inventory-list .item-detail,
.tidy5e.sheet.actor .inventory-list .item-controls,
.tidy5e.sheet.actor .inventory-list .spell-detail {
	border: none;
	border-left: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .item-detail.player-class {
	text-align: center;
	padding: 0 .5rem;
}

.tidy5e.sheet.actor .spell-slots,
.tidy5e.sheet.actor .spell-comps {
	flex: 0 0 55px;
	min-width: auto;
	text-align: center;
	padding: 0;
	border: none;
}

.tidy5e.sheet.actor .spell-comps {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .spell-action,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .spell-target,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .spell-school,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .spell-comps {
  padding-top: 2px;
  line-height: 28px;
}

.tidy5e.sheet.actor .spell-component.C,
.tidy5e.sheet.actor .spell-component.R {
	width: auto;
  height: auto;
  border: none;
  color: #c9c7b8;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 1px 1px 0 1px;
  margin: 0px 0 0 1px;
  line-height: 12px;
}

.tidy5e.sheet.actor .spell-slots input,
.tidy5e.sheet.actor .spell-slots span.sep {
	text-align: right;
	padding-top: 1px;
	line-height: 1;
}

.tidy5e.sheet.actor .inventory-list .item-controls,
.tidy5e.sheet.actor .inventory .item-controls,
.tidy5e.sheet.actor .spellbook .item-controls {
	flex: 0 0 55px;
	justify-content: center;
}

.tidy5e.sheet.actor .spellbook .spellbook-empty .item-controls {
	flex: 0 0 100%;
	justify-content: center;
}

.tidy5e.sheet.actor .inventory-list .inventory-header .item-controls {
	border: none;
}

.tidy5e.sheet.actor .inventory-list .item-controls a {
	flex: 0 0 18px;
}

.tidy5e.sheet.actor .inventory-list .item-controls a:hover {
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .inventory-list .item .item-name {
	max-height: unset;
	cursor: default;
	flex-wrap: nowrap;
}

.tidy5e.sheet.actor .inventory-list .item .item-name.rollable:hover {
	color: inherit;
}

.tidy5e.sheet.actor .inventory-list .item.spellbook-header .item-name {
	cursor: default;
}

.tidy5e.sheet.actor .inventory-list .item .item-name .item-image {
	flex: unset; 
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px 0px 0px 5px;
	margin-right: .5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tidy5e.sheet.actor .inventory-list .item .item-name .item-image i {
	color: #333;
	display: none;
  text-align: center;
  font-size: 22px;
}

.tidy5e.sheet.actor .favorites .inventory-list .item .item-name .item-image i {
  font-size: 18px;
  line-height: 23px;
}

.tidy5e.sheet.actor .inventory-list .item.expanded .item-name .item-image {
	border-radius: 5px 0 0 0;
}

.tidy5e.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image,
.tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image {
  background-image: none !important;
}

.tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image i {
	display: initial;
}

.tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image:hover {
	background-image: none !important;
}

.tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image:hover i {
	color: var(--default-primary-accent);
}

.tidy5e.sheet.actor .inventory-list .item-weight,
.tidy5e.sheet.actor .inventory-list .item-charges {
	flex: 0 0 70px;
}

.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-charges,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-charges input,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-weight {
  padding-top: 2px;
  line-height: 28px;
}

.tidy5e.sheet.actor .inventory-list .item-level,
.tidy5e.sheet.actor .inventory-list .item-action,
.tidy5e.sheet.actor .inventory-list .item-create {
	flex: 0 0 100px;
}

.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-level,
.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-action {
  padding-top: 2px;
  line-height: 28px;
}

.tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-charges {
	text-align: center;
	display: flex;
	justify-content: center;
}

.tidy5e.sheet.actor .inventory-list .item .item-recharge {
	flex: initial;
	padding: 0 4px;
	font-size: 13px;
}

.tidy5e.sheet.actor .inventory-list .item .item-charges input {
	text-align: right;
	width: 50%;
	padding: 0 4px 0 0;
	color: rgba(0,0,0,.6);
	line-height: 1;
}

.tidy5e.sheet.actor .inventory-list .item .item-charges input.uses-max {
	padding: 0 0 0 4px;
}

.tidy5e.sheet.actor .inventory-list .item-summary {
	padding: .5rem;
	border-top: 1px solid var(--default-faint-color);
}

.tidy5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
	background: var(--default-tertiary-color);
	border-radius: 5px;
	font-weight: 400;
	color: rgba(255,255,255,.6);
  line-height: 18px;
  padding-top: 2px;
}

.tidy5e.sheet.actor .inventory-list .item-controls a.item-create:hover {
	background: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .inventory-list .spellbook-empty a.item-create {
	flex: 0 0 100%;
}


.tidy5e.sheet.actor .inventory .item-equipped,
.tidy5e.sheet.actor .spellbook .spell-prepared,
.tidy5e.sheet.actor .inventory-list .spell-prepared {
	flex: 0 0 16px;
	margin: 0 .25rem;
}
 
.tidy5e.sheet.actor .inventory .item-equipped .item-toggle,
.tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle,
.tidy5e.sheet.actor .inventory-list .spell-prepared .item-toggle {
	color: rgba(0,0,0,.25);
}

.tidy5e.sheet.actor .inventory-list .alwaysPrepared .spell-prepared {
	display: none;
	/*cursor: default;*/
}

.tidy5e.sheet.actor .inventory .item-equipped .item-toggle:hover,
.tidy5e.sheet.actor .inventory .item-equipped .item-toggle.active,
.tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle:hover,
.tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle.active,
.tidy5e.sheet.actor .inventory-list .spell-prepared .item-toggle:hover,
.tidy5e.sheet.actor .inventory-list .prepared .spell-prepared .item-toggle {
	color: rgba(0,0,0,.6);
}

.tidy5e.sheet.actor .inventory .item-equipped .item-toggle i,
.tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle i,
.tidy5e.sheet.actor .inventory-list .spell-prepared .item-toggle i {
	width: 16px;
	text-align: center;
	vertical-align: middle;
}

.item-equipped .fas.fa-user-alt,
.item-equipped .active .fas.fa-user-alt-slash {
	display: none;
}

.item-equipped .fas.fa-user-alt-slash,
.item-equipped .active .fas.fa-user-alt {
	display: inline-block;
}

.spell-prepared .fas.fa-book-alt,
.spell-prepared .active .far.fa-book-alt {
	display: none;
	height: 16px;
}

.spell-prepared .far.fa-book-alt,
.spell-prepared .active .fas.fa-book-alt {
	display: inline-block;
	height: 16px;
}

/* Notes in Biography and Journal */

.tidy5e-sheet .left-notes {
	margin-right: 1rem;
}

.tidy5e-sheet.limited .note-entries {
  display: flex;
  height: 100%;
  align-items: stretch;
}


.tidy5e-sheet .note-entries article {
	background: var(--default-faint-color);
	border-radius: 5px;
	padding: .5rem;
	margin-bottom: 1rem;
	position: relative;
}

.tidy5e-sheet.limited .note-entries article {
  flex: 1;
  margin: 0;
}

.tidy5e-sheet .note-entries article:last-child {
	margin-bottom: 0;
}

.tidy5e-sheet.limited .note-entries article:last-child {
  margin-left: 8px;
}


.tidy5e-sheet .note-entries article:hover .editor .editor-edit {
	display: block;
	padding: 0;
	border: none;
	box-shadow: none;
}

.tidy5e.sheet.actor .note-entries article .section-titles {
	font-weight: 700;
	border-bottom: 1px solid var(--default-light-color);
	padding-bottom: .25rem;
	margin-bottom: .5rem;
}

.tidy5e.sheet.actor .note-entries article .section-titles input {
	margin-top: -1px;
	margin-left: -1px;
	height: 17px;
  width: calc(100% - 26px);
	font-weight: 700;
}

.tidy5e.sheet.actor .note-entries article .editor,
.tidy5e.sheet.actor .note-entries article .editor .editor-content {
	min-height: 50px;
	padding: 0;
	position: static;
}

.tidy5e.sheet.actor .note-entries article .editor .editor-content ul {
	list-style: disc;
	padding-left: 20px;
}

.tidy5e.sheet.actor .note-entries article.biography-notes .editor {
	min-height: 271px;
}

.tidy5e.sheet.actor .note-entries article.journal-notes .editor {
	min-height: 382px;
}

.tidy5e.sheet.actor .note-entries article .editor .editor-content,
.tidy5e.sheet.actor .note-entries article .editor .tox .tox-toolbar__group {
	padding: 0;
}

.tidy5e.sheet.actor .note-entries article .editor .tox .tox-tbtn {
	width: 24px;
	height: 24px;
}

.tidy5e.sheet.actor .note-entries article .editor .tox.tox-tinymce .tox-tbtn[title="Formats"] {
	width: 90px;
}

.tidy5e.sheet.actor .note-entries article .editor .tox .tox-tbtn--select {
	width: auto;
}

.tidy5e.sheet.actor .editor ul,
.tidy5e.sheet.actor .editor ol {
	list-style: outside;
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}

/* Portrait hover options */

.tidy5e.sheet.actor .exhaustionOnHover .exhaustion-container,
.tidy5e.sheet.actor .inspirationOnHover .inspiration,
.tidy5e.sheet.actor .restOnHover .rest-container {
	display: none;
}

.tidy5e.sheet.actor .exhaustionOnHover:hover .exhaustion-container,
.tidy5e.sheet.actor .inspirationOnHover:hover .inspiration,
.tidy5e.sheet.actor .restOnHover:hover .rest-container {
	display: block;
}


/* Editor Import Message */

.tidy5e.dnd.sheet.actor .data-import-message {
	flex: 0 0 100%;
	margin: 0 0 1rem 0;
	padding: 1rem;
	border-radius: 5px;
	background: rgba(250,100,0,.5);
}

.tidy5e.dnd.sheet.actor .data-import-message p {
	padding: 0 1rem 1rem 1rem;
	font-weight: 700;
}

/* Mobile Support for Simple Mobile */

@media only screen and (max-width: 1000px) {
	.tidy5e.sheet.actor .ability-scores,
	.tidy5e.dnd.sheet.actor ul.skills-list {
    height: 380px;
	}

	.dnd.sheet.actor.character ul.skills-list li.skill {
		border: none;
    flex: 0 0 21px;
    height: 21px;
	}

	.dnd.sheet.actor ul.skills-list li.skill .skill-proficiency {
    margin-right: 4px;
	}

	.tidy5e.sheet.actor .favorites .inventory-list .item-controls {
    flex: 0 0 48px;
	}

	.tidy5e.sheet.actor .favorites .inventory-list:first-child .inventory-header {
    padding-right: 47px;
	}

	.tidy5e.sheet.actor .spell-slots, .tidy5e.sheet.actor .spell-comps {
    flex: 0 0 65px;
	}

	.tidy5e.sheet.actor .inventory-list .item-controls,
	.tidy5e.sheet.actor .inventory .item-controls,
	.tidy5e.sheet.actor .spellbook .item-controls {
    flex: 0 0 65px;
	}
	
	::before {
    font-size: 16px;
	}
} 