<div class="inventory-filters">
  <ul class="filter-list flexrow" data-filter="inventory">
    <li class="filter-title">{{localize "DND.Filter"}}</li>
    <li class="filter-item" data-filter="action">{{localize "DND.Action"}}</li>
    <li class="filter-item" data-filter="bonus">{{localize "DND.BonusAction"}}</li>
    <li class="filter-item" data-filter="reaction">{{localize "DND.Reaction"}}</li>
    <li class="filter-item" data-filter="equipped">{{localize "DND.Equipped"}}{{#if equippedItems}} ({{equippedItems}}){{/if}}</li>
    <li class="tidy5e-delete-lock"><label for="tidy5e-allow-delete" class="tidy5e-delete-toggle"><span class="tidy5e-delete-disabled" title="{{localize 'TIDY5E.DeleteDisabledHint'}}"><i class="fas fa-lock"></i>{{localize "TIDY5E.DeleteDisabled"}}</span><span class="tidy5e-delete-enabled" title="{{localize 'TIDY5E.DeleteEnabledHint'}}"><i class="fas fa-unlock"></i>{{localize "TIDY5E.DeleteEnabled"}}</span></label></li>
  </ul>
</div>

<ol class="inventory-list">
  {{#each sections as |section sid|}}
  <li class="inventory-header flexrow">
    <h3 class="item-name flexrow">{{localize section.label}}</h3>

    {{#if ../isCharacter}}
    <div class="item-detail item-weight" title="{{localize 'DND.Weight'}}"><i class="fas fa-weight-hanging"></i></div>
    {{/if}}

    <div class="item-detail item-charges" title="{{localize 'DND.Charges'}}"><i class="fas fa-bolt"></i></div>
    <div class="item-detail item-action" title="{{localize 'DND.Usage'}}"><i class="fas fa-hourglass"></i></div>

    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "DND.ItemCreate"}}' {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
        <i class="fas fa-plus-circle"></i> {{localize "DND.Add"}}
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{~#if item.data.attuned}} attuned {{/if}} {{~#if item.data.equipped}} equipped {{/if}}" data-item-id="{{item._id}}">
      <div class="item-name flexrow rollable" >
        <div class="item-image" style="background-image: url({{item.img}})">
          <i class="fa fa-dice-d20"></i>
        </div>
        <h4 title="{{localize 'TIDY5E.ToggleInfo'}} ({{item.name}})">
          <i class="fas fa-info-circle info-icon"></i>
          {{item.name}}
        </h4>
        {{#if item.data.quantity}}
          <span class="item-quantity{{#if item.isStack}} isStack{{/if}}">
            (<input class="item-count" data-path="data.quantity" type="text" value="{{item.data.quantity}}" maxlength="3" >)
          </span>
        {{/if}}
      </div>


      {{~#if item.data.attuned}} 
      <div class="item-attuned" title="{{localize 'DND.Attuned'}}"><i class="fas fa-user-circle"></i></div>
      {{/if}}

      {{#if ../../owner}}
      <div class="item-equipped">
        <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-user-alt-slash"></i><i class="fas fa-user-alt"></i></a>
      </div>
      {{/if}}

      {{#if ../../isCharacter}}
      <div class="item-detail item-weight">
        {{#if item.totalWeight}}
        <div>
          {{ item.totalWeight }} {{localize "DND.AbbreviationLbs"}}
        </div>
        {{/if}}
      </div>
      {{/if}}

      <div class="item-detail item-charges">
        {{#if item.hasUses }}
        <input type="text" data-path="data.uses.value" value="{{item.data.uses.value}}" placeholder="0"/>
        / <input class="uses-max" type="text" data-path="data.uses.max" value="{{item.data.uses.max}}">
        <!-- {{item.data.uses.max}} -->

        {{else}}
        <a class="addCharges" value="Add">Add</a>
        {{/if}}
      </div>

      <div class="item-detail item-action">
        {{#if item.data.activation.type }}
        {{item.labels.activation}}
        {{/if}}
      </div>

      {{#if ../../owner}}
      <div class="item-controls">
        <a class="item-control item-edit" title='{{localize "DND.ItemEdit"}}'><i class="fas fa-pencil-alt"></i></a>
        <a class="item-control item-delete" title='{{localize "DND.ItemDelete"}}'><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>

{{#if isCharacter}}
<div class="inventory-currency">  
  <ol class="currency flexrow">
    <li class="currency-header flexrow" title="{{localize 'DND.Currency'}}">
      <i class="fas fa-coins"></i>
    </li>
    {{#each data.currency as |v k|}}
    <li class="currency-item flexrow">
      <input type="text" name="data.currency.{{k}}" id="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
      <label for="data.currency.{{k}}" class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
    </li>
    {{/each}}
    <li class="currency-item convert"><a class="currency-convert" title="{{localize "TIDY5E.ConvertCurrencyHint"}}">{{localize "TIDY5E.ConvertCurrencyButton"}}</a></li>
  </ol>
</div>
{{/if}}

{{#if isCharacter }}
{{#with data.attributes.encumbrance}}
<div class="encumbrance {{#if encumbered}}encumbered{{/if}}" title="{{localize 'TIDY5E.Encumbrance'}}">
  <span class="encumbrance-bar" style="width:{{pct}}%"></span>
  <span class="encumbrance-label">{{value}} / {{max}}</span>
  <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
  <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
  <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
  <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
</div>
{{/with}}
{{/if}}
