<div class="traits{{#if actor.flags.tidy5e-sheet.traitsExpanded}} expanded{{/if}}">
  <div class="form-group senses {{#unless data.traits.senses}}inactive{{/unless}}">
    <article>
      <div contenteditable="true" data-target="{{actor._id}}-senses" spellcheck="false" data-placeholder="{{ localize 'DND.None' }}" data-label="{{localize 'DND.Senses'}}:">{{data.traits.senses}}</div>
      <input type="hidden" data-input="{{actor._id}}-senses" name="data.traits.senses" value="{{data.traits.senses}}" placeholder="{{ localize 'DND.None' }}"/>
    </article>
  </div>

  <div class="form-group {{data.traits.languages.cssClass}}">
    <article>
      <label for="data.traits.languages">{{localize "DND.Languages"}}:</label>
      {{#each data.traits.languages.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="languages" data-target="data.traits.languages"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.di.cssClass}}">
    <article>
      <label for="data.traits.di">{{localize "DND.DamImm"}}:</label>
      {{#each data.traits.di.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.di"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.dr.cssClass}}">
    <article>
      <label for="data.traits.dr">{{localize "DND.DamRes"}}:</label>
      {{#each data.traits.dr.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.dr"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.dv.cssClass}}">
    <article>
      <label for="data.traits.dv">{{localize "DND.DamVuln"}}:</label>
      {{#each data.traits.dv.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="damageTypes" data-target="data.traits.dv"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.ci.cssClass}}">
    <article>
      <label for="data.traits.ci">{{localize "DND.ConImm"}}:</label>
      {{#each data.traits.ci.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="conditionTypes" data-target="data.traits.ci"><i class="fas fa-pencil-alt"></i></a>
  </div>

  {{#if isCharacter}}
  <div class="form-group {{data.traits.weaponProf.cssClass}}">
    <article>
      <label for="data.traits.weaponProf">{{localize "DND.TraitWeaponProf"}}:</label>
      {{#each data.traits.weaponProf.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="weaponProficiencies" data-target="data.traits.weaponProf"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.armorProf.cssClass}}">
    <article>
      <label for="data.traits.armorProf">{{localize "DND.TraitArmorProf"}}:</label>
      {{#each data.traits.armorProf.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="armorProficiencies" data-target="data.traits.armorProf"><i class="fas fa-pencil-alt"></i></a>
  </div>

  <div class="form-group {{data.traits.toolProf.cssClass}}">
    <article>
      <label for="data.traits.toolProf">{{localize "DND.TraitToolProf"}}:</label>
      {{#each data.traits.toolProf.selected as |v k|}}
      <span class="tag {{k}}">{{v}}</span>
      {{/each}}
    </article>
    <a class="trait-selector" data-options="toolProficiencies" data-target="data.traits.toolProf"><i class="fas fa-pencil-alt"></i></a>
  </div>
  {{/if}}
  <div class="toggle-traits" data-show-traits="{{localize 'TIDY5E.Show'}}" data-hide-traits="{{localize 'TIDY5E.Hide'}}"> {{localize "TIDY5E.TraitsEmpty"}}</div>
  <a class="item configure-flags">{{localize "DND.SpecialTraits"}} <i class="fas fa-cog"></i></a>
</div>