:root {
  --darkmode-primary-color: rgba(255,255,255,.7);
  --darkmode-secondary-color: rgba(255,255,255,.55);
  --darkmode-tertiary-color: rgba(255,255,255,.35);
  --darkmode-light-color: rgba(255,255,255,.15);
  --darkmode-faint-color: rgba(255,255,255,.075);

  --darkmode-primary-accent: #48BB78;
  --darkmode-secondary-accent: rgba(0,150,150,.325);
  --danger-500: #F56565;
  --danger-700: #C53030;
}

/* Sheet Content */
.tidy5eDark .tidy5e.sheet .window-content {
  color: var(--darkmode-primary-color);
}

/* Sheet Background */
.tidy5eDark .tidy5e-sheet {
  /*background-color: #121212;*/
  background-color: rgba(0,0,0,.91);
  font-family: "Signika Negative", sans-serif;
}

/* Sheet Header */
.tidy5eDark .tidy5e-header {
  background: rgba(255,255,255,.05);
}

/* Portrait */
.tidy5eDark .tidy5e.sheet.actor .portrait {
  box-shadow: 0 0 10px rgba(0,0,0,.95) inset;
  border: 1px solid rgba(0,0,0,.95);
}

/* Inspiration Indicator */
.tidy5eDark .tidy5e.sheet.actor .inspiration label {
  background: #555;
  box-shadow: 0 0 10px rgba(0,0,0,.9) inset;
  border: 1px solid rgba(0,0,0,.7);
  color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inspiration input:checked + label {
  background: #121212;
  color: rgba(255,255,255,1);
  /*text-shadow: 0 0 10px rgba(118, 228, 255, 1);*/
}

/* Rest Button */
.tidy5eDark .tidy5e.sheet.actor .resting {
  background: #555;
  box-shadow: 0 0 10px rgba(0,0,0,.9) inset;
  border: 1px solid rgba(0,0,0,.7);
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .resting-icon,
.tidy5eDark .tidy5e.sheet.actor .rest {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .rest:hover i {
  color: rgba(255,255,255,1);
}

/* Exhaustion Tracker */
.tidy5eDark .tidy5e.sheet.actor .exhaustion-wrap {
  background: #555;
  box-shadow: 0 0 10px rgba(0,0,0,.9) inset;
  border: 1px solid rgba(0,0,0,.7);
}

.tidy5eDark .tidy5e.sheet.actor .exhaustion-icon,
.tidy5eDark .tidy5e.sheet.actor .exhaustion-wrap .exhaust-level li {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .exhaustion-container .level-display {
  background: #555;
  box-shadow: 0 0 8px rgba(0,0,0,.9) inset;
  border: 1px solid rgba(0,0,0,.7);
  color: var(--darkmode-primary-color);
}

/* Character Level */
.tidy5eDark .tidy5e.sheet.actor .level {
  background: var(--darkmode-tertiary-color);
  color: rgba(0,0,0,.6);
}

/* Character Classes */
.tidy5eDark .tidy5e.sheet.actor .class-list {
  color: var(--darkmode-secondary-color);  
}

.tidy5eDark .tidy5e.sheet.actor .class-list .subclass-info span {
  background: var(--darkmode-tertiary-color);
  color: rgba(0,0,0,.87);
}

/* Character Summary */
.tidy5eDark .tidy5e.sheet.actor .origin-summary {
  border-bottom: 1px solid var(--darkmode-light-color);
  border-top: 1px solid var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .attribute-name::after {
  border-color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .origin-summary li span::after {
  background: var(--darkmode-primary-color);
}

/* Text color */
.tidy5eDark .tidy5e.sheet.actor input[type="text"] {
  color: var(--darkmode-primary-color);  
}

.tidy5eDark .tidy5e.sheet.actor input[type="text"]::placeholder
/*.tidy5eDark .dnd input[type="text"]::placeholder */
{
  color: var(--darkmode-tertiary-color);
}
/*
.tidy5eDark .dnd input[type="text"] {
  color: var(--darkmode-primary-color);
}*/

/* Sheet Navigation */
.tidy5eDark .tidy5e.sheet.actor .item[data-tab="attributes"] i {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e-navigation .item {
  background: rgba(255,255,255,.05);
  border: none;
  box-shadow: 0 1px 0 0 var(--darkmode-light-color);
}

.tidy5eDark .tidy5e-navigation .item:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e-navigation .item.active {
  color: var(--darkmode-primary-color);
    background: transparent;
  box-shadow: 
    -1px 0 0 0 var(--darkmode-light-color),
    1px 0 0 0 var(--darkmode-light-color),
    0 -1px 0 0 var(--darkmode-light-color),
    0 0 0 0 var(--darkmode-light-color);
}

.tidy5eDark .tidy5e-navigation .item:first-child.active {
  box-shadow: 
    0 0 0 0 var(--darkmode-light-color),
    1px 0 0 0 var(--darkmode-light-color),
    0 -1px 0 0 var(--darkmode-light-color),
    0 0 0 0 var(--darkmode-light-color);
}

.tidy5eDark .tidy5e-navigation .item:last-child.active {
  box-shadow: 
    -1px 0 0 0 var(--darkmode-light-color),
    0 0 0 0 var(--darkmode-light-color),
    0 -1px 0 0 var(--darkmode-light-color),
    0 0 0 0 var(--darkmode-light-color);
}

/* Ability Scores */
.tidy5eDark .tidy5e.sheet.actor .ability-scores .ability {
  border-color: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .ability-scores .ability .ability-mod:hover,
.tidy5eDark .tidy5e.sheet.actor .ability-scores .ability .ability-save:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .proficient .proficiency-toggle {
  color: var(--darkmode-primary-color);
}

/* Skill List */
.tidy5eDark .tidy5e.sheet.actor ul.skills-list {
  border: 1px solid var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.dnd.sheet.actor ul.skills-list li.skill:nth-child(even) {
  background: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.skills-list li.skill .skill-passive {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .proficiency-toggle.skill-proficiency {
  color: var(--darkmode-tertiary-color);
}

/* Resources */
.tidy5eDark .tidy5e.sheet.actor .center-pane ul.attributes {
  border: 1px solid var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.attribute .attribute-header .res-options {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.attribute .attribute-header:hover .res-options {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.attribute .attribute-header .res-rest h4 {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.resource .attribute-header label.checkbox {
  border: none;
  background: var(--darkmode-light-color);
  color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor ul.attributes li.resource .attribute-header label.checkbox:hover,
.tidy5eDark .tidy5e.sheet.actor ul.attributes li.resource .attribute-header input:checked + label.checkbox {
  background: var(--darkmode-primary-accent);
  color: var(--darkmode-primary-color);
}

/* Traits & Favorites */
.tidy5eDark .tidy5e.sheet.actor .traits .toggle-traits,
.tidy5eDark .tidy5e.sheet.actor .traits .configure-flags {
  color: var(--darkmode-secondary-color);
  border-color: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .toggle-traits:hover,
.tidy5eDark .tidy5e.sheet.actor .traits .configure-flags:hover {
  color: var(--darkmode-primary-color);
}

/** Traits **/
.tidy5eDark .tidy5e.sheet.actor .traits {
  border-color: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits i.fas {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits a:hover i.fas {
  color: var(--darkmode-primary-accent);
  text-shadow: none;
}

.tidy5eDark .tidy5e.sheet.actor .traits .form-group.even {
  background: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits label {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .senses div[contenteditable="true"]:before {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .tag {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .tag span {
  background: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .actor-size {
  background: var(--darkmode-light-color);
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .traits .actor-size:hover {
  background: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .traits .actor-size:hover,
.tidy5eDark .tidy5e.sheet.actor .traits .actor-size:focus {
  box-shadow: none;
}

.tidy5eDark .tidy5e.sheet.actor .traits .actor-size option {
  color: #222;
}

.tidy5eDark .tidy5e.sheet .traits .trait-selector:hover {
  color: var(--darkmode-primary-accent);
}

/** Favorites **/
.tidy5eDark .tidy5e.sheet.actor .favorites {
  border-color: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list:not(.inventory-header) .item {
  background: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list:not(.inventory-header) .item.attuned,
.tidy5eDark .tidy5e.sheet.actor .inventory-list:not(.inventory-header) .item.prepared,
.tidy5eDark .tidy5e.sheet.actor .inventory-list:not(.inventory-header) .item.alwaysPrepared  {
  background: var(--darkmode-secondary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-attuned {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item.inventory-header {
  background: none;
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header h3 {
  color: var(--darkmode-tertiary-color);
}


.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-name h4 .info-icon {
  color: var(--darkmode-light-color);
  margin-left: 1px;
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-name h4:hover .info-icon {
  color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory .item-equipped .item-toggle,
.tidy5eDark .tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle {
  color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory .item-equipped .item-toggle:hover,
.tidy5eDark .tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory .item-equipped .item-toggle.active,
.tidy5eDark .tidy5e.sheet.actor .spellbook .spell-prepared .item-toggle.active {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .state-display a {
  color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .state-display a:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .state-display a.active {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list :not(.inventory-header) .spell-comps,
.tidy5eDark .tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-action,
.tidy5eDark .tidy5e.sheet.actor .inventory-list :not(.inventory-header) .item-charges {
  color: var(--darkmode-primary-color);
} 

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .spell-comps,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .item-action,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list :not(.inventory-header) .item-charges {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-charges input {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .spell-component.C,
.tidy5eDark .tidy5e.sheet.actor .spell-component.R {
  background: var(--darkmode-tertiary-color);
  color: rgba(0,0,0,.95);
}

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header:first-child {
  color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-detail,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-controls,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .spell-detail {
  border-color: var(--darkmode-faint-color);
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots input,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:hover,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:hover input,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:focus-within,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .inventory-header .spell-slots:focus-within input {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-controls a {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-controls a:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header .item-detail,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .spell-slots input,
.tidy5eDark .tidy5e.sheet.actor .spell-slots span.sep,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail .spell-max {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail .slot-max-override i{
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail .slot-max-override:hover i{
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header .item-detail i,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header .spell-detail svg,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header.spellbook-header .spell-detail i{
  color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image i {
  color: rgba(255,255,255,.4);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-name:hover .item-image:hover i {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-currency .currency-item.convert a,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
  background: var(--darkmode-light-color);
  color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-currency .currency-item.convert a:hover,
.tidy5eDark .tidy5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create:hover {
  background: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-charges:hover a.addCharges {
  color: var(--darkmode-primary-accent);
}

/* XP Bar */
.tidy5eDark .tidy5e.sheet.actor .xp-bar-total {
  background: #444;
}

.tidy5eDark .tidy5e.sheet.actor .xp-bar-current {
  background: var(--darkmode-primary-accent);
}

/* Currency/Spellcasting Ability */
.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability,
.tidy5eDark .tidy5e.sheet.actor .inventory-currency {
  border-color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-currency .currency-item {
  background: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability select {
  border: none;
  background: var(--darkmode-light-color);
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability select:hover {
  background: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability select:hover,
.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability select:focus {
  box-shadow: none;
}

.tidy5eDark .tidy5e.sheet.actor .spellcasting-ability select option {
  border-radius: none;
  color: rgba(0,0,0,.95);
}

/* Encumbrance Bar */

.tidy5eDark .tidy5e.sheet.actor .encumbrance .encumbrance-bar {
  background: var(--darkmode-primary-accent);
}

/* Notes */
.tidy5eDark .tidy5e-sheet .note-entries article {
  background: var(--darkmode-faint-color);
  overflow: hidden;
}

.tidy5eDark .tidy5e.sheet.actor .note-entries article .section-titles,
.tidy5eDark .tidy5e.sheet.actor .note-entries article .section-titles input {
}

.tidy5eDark .tidy5e-sheet .note-entries article:hover .editor .editor-edit:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .note-entries article .section-titles {
  border-color: var(--darkmode-light-color);
}

.tidy5eDark .tox.tox-tinymce {
  background: var(--darkmode-tertiary-color);
  box-shadow: 0 0 0 8px var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-filters h3,
.tidy5eDark .tidy5e.sheet.actor .inventory-filters .filter-title {
 color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-filters .tidy5e-delete-lock {
  color: var(--darkmode-primary-color); 
}

.tidy5eDark .tidy5e-sheet .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle {
  background: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e-sheet.allow-delete .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle,
.tidy5eDark .tidy5e-sheet .sheet-body .tidy5e-delete-lock .tidy5e-delete-toggle:hover {
  background: var(--danger-500);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-controls a.item-delete {
  color: var(--danger-500);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-controls a.item-delete:hover {
  color: var(--danger-700);
}

.tidy5eDark .tidy5e.sheet [contenteditable=true]:empty:before {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet [contenteditable=true],
.tidy5eDark .tidy5e.sheet input[type="text"] {
  border: none;
  box-shadow: 0px 0px 0 3px transparent inset;
  transition: box-shadow .3s ease;
}

.tidy5eDark .tidy5e.sheet [contenteditable=true]:hover,
.tidy5eDark .tidy5e.sheet [contenteditable=true]:focus,
.tidy5eDark .tidy5e.sheet input[type="text"]:hover,
.tidy5eDark .tidy5e.sheet input[type="text"]:focus {
  border: none;
  background: none;
  box-shadow: 0px 0px 0 1px var(--darkmode-primary-accent) inset;
}

.tidy5eDark .tidy5e.sheet .filter-list .filter-item,
.tidy5eDark .tidy5e.sheet.actor .inventory-filters {
  border-color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet .filter-list .filter-item:hover,
.tidy5eDark .tidy5e.sheet .filter-list .filter-item.active {
  text-shadow: none;
  color: var(--darkmode-primary-accent);
  border-color: var(--darkmode-primary-accent); 
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list p.notes {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .origin-summary .proficiency {
}

.tidy5eDark .tidy5e.sheet.actor ul.skills-list li.skill .skill-proficiency,
.tidy5eDark .tidy5e.sheet.actor ul.skills-list li.skill h4 {
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-name h4,
.tidy5eDark .tidy5e.sheet.actor .favorites .inventory-list .item-name h4 {
}

.tidy5eDark .tidy5e.sheet.actor .rollable:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-recharge {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item .item-recharge:hover {
  color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor a.entity-link, 
.tidy5eDark .tidy5e.sheet.actor a.inline-roll {
  background: var(--darkmode-primary-accent);
  color: #121212; 
}

.tidy5eDark .tidy5e.sheet.actor a.entity-link i,
.tidy5eDark .tidy5e.sheet.actor a.inline-roll i {
  color: #121212;
}