.tidy5eDark .tidy5e.sheet.actor.npc .spellcasting-ability {
  background: #121212;
}

.tidy5eDark .tidy5e.sheet.actor.npc .xp {
  color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .cr {
	background-color: var(--darkmode-tertiary-color);
	color: rgba(0,0,0,.6);
}

.tidy5eDark .tidy5e.sheet.actor.npc .source-info {
	background-color: var(--darkmode-light-color);
	color: var(--darkmode-primary-color);
	font-weight: 300;
}

.tidy5eDark .tidy5e.sheet.actor.npc .header-attribute {
	border-color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .ability-name {
	color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .ability-name:hover {
	color: var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .ability-name::after {
	border-color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .value-footer,
.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .proficiency-toggle {
	color: var(--darkmode-secondary-color);
	background-color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .ability-modifiers a {
	color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability .ability-modifiers a:hover {
	color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .ability.proficient .value-footer,
.tidy5eDark .tidy5e.sheet.actor.npc .ability-scores .proficient .proficiency-toggle {
	background-color: var(--darkmode-secondary-accent);
}

.tidy5eDark .tidy5e.dnd.sheet.actor.npc ul.skills-list .toggle-proficient {
	border-color: var(--darkmode-faint-color);
	color: var(--darkmode-secondary-color);
}

.tidy5eDark .tidy5e.dnd.sheet.actor.npc ul.skills-list .toggle-proficient:hover {
	color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc ul.skills-list li.skill.even {
  background: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .inventory-list .inventory-header .spell-slots,
.tidy5eDark .tidy5e.sheet.actor.npc .inventory-list .inventory-header .spell-slots input {
	color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .spellbook-title {
	border-color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .counters {
	border-color: var(--darkmode-faint-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .counters .counter h4 {
	color: var(--darkmode-primary-color);
	font-weight: 600;
}

.tidy5eDark .tidy5e.sheet.actor.npc .origin-summary .environment i {
	color: var(--darkmode-tertiary-color);
}

.tidy5eDark .tidy5e.sheet.actor.npc .origin-summary .environment:hover i,
.tidy5eDark .tidy5e.sheet.actor.npc .origin-summary .environment:focus-within i {
  color: var(--darkmode-primary-color);
}