/* ------------------------------------ */
/*   Support Better Rolls / Minor QOL   */
/* ------------------------------------ */

.tidy5eDark .tidy5e.sheet.actor .inventory-list .item-summary .item-buttons .tag button:hover {
	background: var(--darkmode-primary-accent);
}

/* ------------------------ */
/* Support Dynamic Effects  */
/* ------------------------ */
.tidy5eDark .dnd.sheet.item .effect-header:first-child,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-name,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-mode,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-value,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
	color: var(--darkmode-primary-color);
  font-weight: 400;
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-name,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-controls {
	color: var(--darkmode-tertiary-color);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect {
	background: var(--darkmode-faint-color);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect .effect-name {
	cursor: default;
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create {
	background: var(--darkmode-light-color);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-create:hover {
	background: var(--darkmode-primary-accent);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-edit:hover {
	color: var(--darkmode-primary-accent);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete {
	color: var(--danger-500);
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-controls .effect-delete:hover {
	color: var(--danger-700);
}
/* ------------------------ */
/*    Support Magic Items   */
/* ------------------------ */
.tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .spellbook-filters.magic-items-head,
.tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .spellbook-filters.magic-items-head {
  border-color: var(--darkmode-light-color);
}

.tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .magic-item div,
.tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .magic-item div {
  border-color: var(--darkmode-faint-color); 
}

.tidy5eDark .dnd.sheet.actor .spell-rechargeable,
.tidy5eDark .dnd.sheet.actor .spell-level,
.tidy5eDark .dnd.sheet.actor .spell-consumption,
.tidy5eDark .dnd.sheet.actor .spell-upcast {
  color: var(--darkmode-primary-color);
  font-weight: 300;
}

.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-mode,
.tidy5eDark .dnd.sheet.item .dynamiceffects-effect-list .effect-header .effect-value {
	color: var(--darkmode-primary-color):;
}

.tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image,
.tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image {
  background-image: url(../../images/d20-444.svg) !important;
}

.tidy5eDark .tidy5e.sheet.actor .magic-items-feats-content .item-name:hover .magic-item-image:hover,
.tidy5eDark .tidy5e.sheet.actor .magic-items-spells-content .item-name:hover .magic-item-image:hover {
  background-image: url(../../images/d20-highlight-green.svg) !important;
}

/* Magic Item Sheet */

.tidy5eDark .dnd.sheet.item .sheet-body .tab.magic-items label {
	color: var(--darkmode-primary-color);
  font-weight: 300;
}

.tidy5eDark .dnd.sheet.item .magic-items-content input[type="text"],
.tidy5eDark .dnd.sheet.item .magic-items-content select {
	border: none !important;
	background: var(--darkmode-faint-color);
	color: var(--darkmode-primary-color);
}

.tidy5eDark .dnd.sheet.item .magic-items-content input[type="text"]:hover,
.tidy5eDark .dnd.sheet.item .magic-items-content select:hover,
.tidy5eDark .dnd.sheet.item .magic-items-content select:focus {
	border: none !important;
	box-shadow: 0 0 0 1px var(--darkmode-primary-accent);
}

.tidy5eDark .dnd.sheet.item .magic-item-list .item:not(.inventory-header) {
	background: var(--darkmode-faint-color);
	color: var(--darkmode-primary-color);
}

.tidy5eDark .dnd.sheet.item .magic-item-list .item .spell-level,
.tidy5eDark .dnd.sheet.item .magic-item-list .item .spell-consumption,
.tidy5eDark .dnd.sheet.item .magic-item-list .item .spell-upcast,
.tidy5eDark .dnd.sheet.item .magic-item-list .item .spell-cost {
	color: var(--darkmode-primary-color);
}

.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header:first-child,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .item-name,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .spell-level-head,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .spell-consumption-head,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .spell-upcast-head,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .spell-cost-head,
.tidy5eDark .dnd.sheet.item .magic-item-list .inventory-header .spell-constrols-head {
	color: var(--darkmode-tertiary-color);
	font-weight: 400;
}

.tidy5eDark .dnd.sheet.item .magic-item-list .item-controls a {
	color: var(--danger-500);
}

.tidy5eDark .dnd.sheet.item .magic-item-list .item-controls a:hover {
	color: var(--danger-700);
}


/* ----------------------------- */
/*    Support Skill Customizer   */
/* ----------------------------- */

.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
  color: var(--darkmode-primary-color);
}

.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover,
.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus {
  background: var(--darkmode-primary-accent);
  color: var(--darkmode-primary-color);
  box-shadow: 0 0 0 1px var(--darkmode-primary-accent);
}

.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:hover option,
.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select:focus option {
  background: #fff;
  color: #121212;
}

.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
	box-shadow: 0 0 0 1px var(--darkmode-tertiary-color) inset;
}

.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:hover,
.tidy5eDark .tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus:focus {
	box-shadow: 0 0 0 1px var(--darkmode-primary-accent) inset;
}